<%
	var result 		= 	(typeof result !== typeof undefined && result)  ?	result 	:{};
	var isEditable 	=	(typeof is_editable !== typeof undefined && is_editable) ? is_editable :false;
	var typeId		=	(result._id)	?	result._id	:"";
%>
<div class="container-fluid" id="main-container">
	<div class="row clearfix" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%=  __('admin.notification_types.add_notification_type'); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" ><button type="button" class="btn bg-indigo waves-effect"><i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %></button></a>
						</li>
					</ul>
				</div>
				<div class="body">
					
					<form id="add-edit-notification" data-submit-btn-id="notification-add-btn-id" method="post" class="on_click_submit" role="form">

						<div class="tab-content mt-20">
							
							<div class="row clearfix">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="type" class="control-label">
                                                <%= __("admin.notification_types.type"); %> <span class="required"> *</span>
                                            </label>
                                            <input type="text" id="type" class="form-control"
                                            name="type" data-blank-error-message="<%= __('admin.notification_types.please_enter_type')%>" data-error-id="type" data-numeric-error-message="<%= __('admin.notification_types.please_enter_valid_type')%>" data-geater-than-zero-error-message="<%= __('admin.notification_types.please_enter_valid_type')%>" value= "<%=(result.notification_type)? result.notification_type : notification_type; %>"  <%= (isEditable) ? 'readonly' : "" %>/>
                                        </div>
                                        <span id="type_error" class="error"></span>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <div class="form-line">
                                            <label for="constants" class="control-label">
                                                <%= __("admin.notification_types.constants"); %>
                                            </label>
                                            <input type="text" id="constants" class="form-control" name="constants" value="<%=(result.constant) ? result.constant:''; %>" />
                                        </div>
                                        <span id="constants_type_error" class="error"></span>
                                    </div>
                                </div>
                            </div>
							
							<!-- Multilanguage tabs -->
						<%- include('../../elements/multilanguage_tabs.html') %>
						<!-- Multilanguage tabs -->
						<%
						if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 0){
							language_list.forEach(function(languages){
								languageId 		= (languages._id) 		?  	languages._id 		:"";
								languageCode 	= (languages.lang_code) ?	languages.lang_code :"";
                                title 	= (result.pages_descriptions && result.pages_descriptions[languageCode] && result.pages_descriptions[languageCode]['title']) ? result.pages_descriptions[languageCode]['title'] :"";
								message 	= (result.pages_descriptions && result.pages_descriptions[languageCode] && result.pages_descriptions[languageCode]['message']) ? result.pages_descriptions[languageCode]['message'] :"";

							%>
							<div role="tabpanel" class="tab-pane multi-lang-tab-pane fade_lang in <%= (languageCode == DEFAULT_LANGUAGE_CODE) ? "active" : ""; %>" id="multi_lang_<%= languageCode; %>">
								<div class="row clearfix">
									<div class="col-sm-12">
										<div class="form-group">
											<div class="form-line">
												<label for="title_<%= languageCode; %>" class="control-label">
													<%= __("admin.notification_types.title"); %>
													<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
														<span class="required"> *</span>
													<% } %> :
												</label>
												<input type="hidden" name="pages_descriptions[<%= languageCode %>][language_id]" value="<%= languageId; %>"/>
												<input type="text" id="title_<%= languageCode; %>" class="form-control" name="pages_descriptions[<%=languageCode%>][title]" value="<%=title%>"/>
											</div>
											<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
												<span id="pages_descriptions_<%=languageCode %>_title_error" class="error"></span>
											<% } %>
										</div>
									</div>
								
							</div>
							<div class="row clearfix">
								<div class="col-sm-12">
									<div class="form-group">
										<div class="form-line">
											<label for="message_<%= languageCode; %>" class="control-label">
												<%= __("admin.notification_types.message"); %>
												<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
													<span class="required"> *</span>
												<% } %> :
											</label>
											<textarea rows="4"  id="message_<%= languageCode; %>" class="form-control no-resize ckeditor"  name="pages_descriptions[<%=languageCode%>][message]"><%-message%></textarea>
										</div>
										<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
											<span id="pages_descriptions_<%=languageCode %>_message_error" class="error"></span>
										<% } %>
									</div>
								</div>
								
							</div>
						</div>
						<% 	});
							} %>
						</div>
						<button type="button" id="block-add-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> ><i class="material-icons font-14">save</i> <%= __("admin.system.submit"); %></button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("css") %>
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>

<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>ckeditor/ckeditor.js" type="text/javascript"></script>

	<script type="text/javascript">
		/**both language error message*/
			//$("div.alert-danger").hide();

		CKEDITOR.replace('message_<%= languageCode; %>', {
	     	filebrowserUploadUrl: '<%= WEBSITE_ADMIN_URL%>ckeditor_uploader/',
		});
		/**
		* Function to submit form
		*/

		$(".btn-submit").click(function(){
			updateCkeditorValue();
			var btnId = $(this).attr("id");
			startTextLoading(btnId);
			ajax_submit("add-edit-notification",function(status,response){					
				if(status){
					window.location.href = response.redirect_url;
				}else{
					changeTab('<%= DEFAULT_LANGUAGE_CODE %>');
					stopTextLoading(btnId);
				}
			});
		});
		
			
	</script>
	
	
