<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false" aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse show" role="tabpanel" aria-labelledby="panel-heading-id">
						<div class="panel-body">
							<form id="searchForm" name="searchForm" >
								<div class="row clearfix dataTables_wrapper">
									<div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="column_filter_0" placeholder="<%= __('admin.notification_types.search_by_type'); %>" name="notification_type">
                                            </div>
                                        </div>
                                    </div>	

									<div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="column_filter_1" placeholder="<%= __('admin.notification_types.search_by_title'); %>" name="title">
                                            </div>
                                        </div>
                                    </div>	
									<div class="col-sm-4">
                                        <div class="form-group">
                                            <div class="form-line">
                                                <input class="form-control" id="column_filter_2" placeholder="<%= __('admin.notification_types.search_by_message'); %>" name="message">
                                            </div>
                                        </div>
                                    </div>	
									
								</div>

								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
										<%= __("admin.system.submit")%>
									</button>
									<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'notification_type'%>">
										<%= __("admin.system.reset")%>
									</button>
								</div>	
								
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row clearfix">
	   <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		  <div class="card">
			 <div class="header">
				<h2>
				   <%= __("admin.notification_type.notification_type"); %>
				</h2>
				
				<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
				   <li>
					  <a href="<%=admin_list_url+'/add_edit'%>">
					  <button type="button" class="btn bg-indigo waves-effect">
					  <i class="material-icons font-14">add</i> <%= __("admin.notification_types.add_notification_type"); %>
					  </button>
					  </a>
				   </li>
				</ul>
			 </div>
			 <div class="body">
				<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
				   <thead>
					  <tr>
						 <th width="10%"><%= __("admin.notification_types.type"); %></th>
						 <th width="20%"><%= __("admin.notification_types.title"); %></th>
						 <th width="20%"><%= __("admin.notification_types.message"); %></th>
						 <th width="15%"><%= __("admin.system.action"); %></th>
					  </tr>
				   </thead>
				</table>
			 </div>
		  </div>
	   </div>
	</div>
 </div>
 <%- contentFor('css') %>
 <link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

 <%- contentFor("script") %>
 <script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>	

 <script type="text/javascript">
	/** Function to initialize datatable and get server side data*/
	var dataTable ="";
	$(document).ready(function() {
		dataTable 	= 	$('#datatable-listing').DataTable({
	
			"order"		: 	[[ 0, "asc" ]],
			"sDom"		:	"ltipr",
			"serverSide": 	true,
			"scrollX"	: 	true,
			"lengthMenu":	PAGING_LENGTH_MENU,
			"columns"	: 	[
				{ 	"data": 'notification_type',
					"field_type" : '<%= NUMERIC_FIELD%>'	
				},
				{
					"data"		: 'title',
					"orderable"	: false,
					"render"	: function(title){
						return '<span class="readmore text-wrap">'+title+'</span>'
					}
				},
	
				{
					"data"		: 'message',
					"orderable"	: false,
					"render"	: function(message){
						return '<span class="readmore nl2br">'+message+'</span>'
					}
				},
				{
						"data"			: {},
						"orderable"		: false,
						"searchable"	: false,
						"render" 		: function(result){
							var id 	=	(result._id) ?	result._id	:"";

							var dropDownButton 	=	''+
							'<div class="dropdown btn-group">'+
								'<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
									'<%= __("admin.system.action"); %> '+
									'<span class="caret"></span>'+
								'</button>'+
								'<ul class="dropdown-menu min-width-190">'+
								/** Edit Link **/
								'<li>'+
									'<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block ">'+'<i class="material-icons">mode_edit</i>'+'<%= __("admin.system.edit"); %>'+
									'</a>'+
								'</li>'+
								/** Delete Link **/
								'<li>'+
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.notification_types.do_you_want_to_delete_this_type"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+'<i class="material-icons">delete_sweep</i>'+'<%= __("admin.system.delete"); %></a>'+
								'</li>'+
							'</ul>'+
							'</div>';
							return dropDownButton;
						}
					},

			],
			"ajax":{
				url 	:	"<%=admin_list_url%>",
				type	: 	"POST",
				data	: 	function (d) {
					var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
					d.search_data = formdata
				},
				dataSrc	: 	function(res){
					return res.data;
				}
			}
		});
	});
	
	$("#submit_btn").click(function(){
		dataTable.draw();
	})
	/** Javascript function to search datatable */
	function searchDatatable(columnNumber){
		var query= $('#column_filter_'+columnNumber).val();
		dataTable.column(columnNumber).search(query);
	}//end searchDatatable()
	
 </script>
 <script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
 