
<div class="container-fluid">	
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false" aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<form id="searchForm" name="searchForm" >
							<input type="hidden" name="search_open" id="search_open" value="0">
							<div class="panel-body">
								<div class="row clearfix dataTables_wrapper">
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" placeholder="<%= __('admin.category.search_by_name'); %>" name="category_name">
											</div>
										</div>
									</div>	
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick " id="status_search" name="status" >
													<option value=""><%=__("admin.user.search_by_status");%></option>
													<%
													if(typeof ACTIVE_DEACTIVE_DROPDOWN!== typeof undefined && ACTIVE_DEACTIVE_DROPDOWN.length > 0){
														ACTIVE_DEACTIVE_DROPDOWN.map(searchStatus=>{%>
															<option value="<%=searchStatus.status_id%>"><%=__(searchStatus.status_name)%></option>
													<% 	});
													} %>
												</select>
											</div>
										</div>
									</div>	
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
                                        <button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
											<%= __("admin.system.submit")%>
										</button>
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'category'%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>					
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<%- include ('../../elements/assign_attribute.html') %>
	
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.category.category_management") %>
					</h2>					
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">						
						<li>
							<a href="<%=admin_list_url%>/add" class="m-l-10">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __("admin.category.add_category"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><%= __('admin.category.category_name'); %></th>
								<th><%= __('admin.system.status'); %></th>	
								<th><%= __('admin.system.modified'); %></th>							
								<th><%= __('admin.system.action'); %></th>								
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>assign_attribute.js"></script>

	<script type="text/javascript">
		/**
		* Function to initialize datatable and get server side data
		*/
		var dataTable = "";
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"order"			: 	[[0, "asc" ]],
				"sDom"			:	"ltipr",
				"lengthMenu"	: 	PAGING_LENGTH_MENU,
				"language"		: {
						"url"		: "<%=DATABLE_LANG_CDN%>",
				},
				"serverSide"	:	true,
				"scrollX"		: 	true,
				"columns"		: 	[
					{
						"data":'category_name'
					},
					/*
					{
						"data":{},
						"render" : function(result){
							return result.parent_map
						}
					},
					*/
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"field_name"	:	"status",
						"render": function(result){
							var active 			= 	(result && result.status)			?	result.status			:"";
							
							/** Active Status **/
							var statusTab	 = 	(active == '<%=ACTIVE%>')  		? 	'<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.inactive")%></span>';
							statusTab		+=	'<br/>';
							return statusTab;
						}
					},
					{
						"data"		 : 'modified',
						"searchable" : 	false,
						"render" 	 : 	function(modified){
							return moment(modified).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT);
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(result){
							var id 				= 	(result._id)					?	result._id						:	"";
							var status			=	(result.status)					?	result.status					:	"<%=DEACTIVE%>";
							var assignAttribute	=	(result.is_assign_attribute)	?	result.is_assign_attribute		:	"<%=DEACTIVE%>";
							/** Status Link Label And Class **/
							var statusLinkText  =	(status == '<%= DEACTIVE %>') ?	"<%= __('admin.system.active'); %>"				: "<%= __('admin.system.deactive'); %>" ;
							var statusLinkTitle =	(status == '<%= DEACTIVE %>') ? "<%= __('admin.system.click_to_activate'); %>"  : "<%= __('admin.system.click_to_deactivate'); %>" ;
							var statusLinkIcon  =	(status == '<%= DEACTIVE %>') ?	"done"	: "block";														
							
							var dropDownButton 	=	''+	
							'<div class="dropdown btn-group m-l-5 m-t-5">'+	
								'<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
									'<%= __("admin.system.action"); %>'+
									'<span class="caret"></span>'+
								'</button>'+	
								'<ul class="dropdown-menu min-width-190">'+
									/** Edit Link **/
									'<li>'+
										'<a href="<%=admin_list_url%>/edit/'+id+'" class="dropdown-item waves-effect waves-block">'+
											'<i class="material-icons">mode_edit</i>'+
											'<%= __("admin.system.edit"); %>'+
										'</a>'+
									'</li>';
									/** Assign Attribute Modal **/
									if(assignAttribute == '<%=ACTIVE %>'){
										dropDownButton +='<li>'+
											'<a href="javascript:void(0)" class="dropdown-item waves-effect waves-block" onclick="assignAttribute(event)" data-id="'+id+'" data-href="<%=admin_list_url%>/get_attribute_list/'+id+'">'+
												'<i class="material-icons">assignment_add</i>'+
												'<%= __("admin.category.assign_attribute"); %>'+
											'</a>'+
										'</li>';
									}
									
									/** Status Link  **/
									dropDownButton+=	'<li>'+
										'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_category_status/'+id+'/'+status+'/<%=ACTIVE_INACTIVE_STATUS%>" class="dropdown-item waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.location.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
											'<i class="material-icons">'+statusLinkIcon+'</i>'+
											statusLinkText+
										'</a>'+
									'</li>'+									
								'</ul>'+	
							'</div>';
							return dropDownButton;
						}
					},
				],
				"ajax":{
					url 	:	"<%=admin_list_url%>",
					type	: 	"POST",
					data	: 	function (d) {
						var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
						d.search_data = formdata
					},
					dataSrc	: function(res){
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					// Get the row count after the data is drawn
					var rowCount = dataTable.rows().count();
					// Log the row count to the console
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}
            	}
			});			
		
		});

		/**
		* Javascript function to search datatable
		*
		* @param  columnNumber as data table column number
		*
		* @return void
		*/
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()

		$("#submit_btn").click(function(){
			dataTable.draw();
		})

	</script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>