<div class="container-fluid">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false" aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<form id="searchForm"  method="POST" name="searchForm" >
							<input type="hidden" name="search_open" id="search_open" value="0">
							<div class="panel-body">
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by Name -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" placeholder="<%= __('admin.user.search_by_name'); %>" name="full_name">
											</div>
										</div>
									</div>
									
									<!-- Search by Email -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1"  placeholder="<%= __('admin.user.search_by_email'); %>" name="email">
											</div>
										</div>
									</div>
									
									<!-- Search by Mobile Number -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1"  placeholder="<%= __('admin.user.search_by_mobile_number'); %>" name="mobile_number">
											</div>
										</div>
									</div>
									
									<!-- Search by b2b code -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<select data-live-search="true" class="form-control show-tick selectpicker search_by_b2b_code " data-dropup-auto="false" name="b2b_code" >
													<option value=""><%= __("admin.system.search_by_b2b_discount"); %></option>
													<%- b2b_discount_list %>
												</select>
											</div>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
											<%= __("admin.system.submit")%>
										</button>
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'company_management/b2b_discount_employee_list/'+company_id%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= dynamic_variable %> <%= __("admin.user.b2b_employee_list") %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>/export-b2b-discount-employee-list">
								<button type="button" class="btn bg-indigo waves-effect">
									<%= __('admin.system.export_all'); %>
								</button>
							</a>
						</li>
						<li>
							<a id="back_btn" href="<%=admin_list_url%>" class="m-l-10">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
								</button>
							</a>
						</li>						
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><%= __('admin.user.name'); %></th>								
								<th><%= __('admin.user.mobile_number'); %></th>
								<th><%= __('admin.user.email'); %></th>	
								<th><%= __('admin.user.b2b_discount_code'); %></th>	
								<th><%= __('admin.company.b2b_discount_status') %></th>								
								<th><%= __('admin.user.active_date'); %></th>								
								<th><%= __('admin.system.action'); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>	

<%- contentFor("script") %>
	
	<script type="text/javascript">
		/**
		* Function to initialize datatable and get server side data
		*/
		var dataTable 	= "";
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables'));
				},
				"order"		: [[0, "desc" ]],
				"sDom"		: "ltipr",
				"lengthMenu": PAGING_LENGTH_MENU,
				"serverSide": true,
				"scrollX"	: true,				
				"columns"	: [
					{
						"data": 'full_name'
					},
					{ 
						"data": 'mobile_number' 
					},					
					{
						"data" 		: "email",
						"orderable"	: false,
						"render" 	: function(email){
							return 	(email)	?	'<a href="mailto:'+email+'">'+email+'</a>'	:email;
						}
					},
					{ 
						"data": 'b2b_code' 
					},
					{
						"data"			: {},
						"orderable"		: false,
						"searchable"	: false,
						"render": function(result){
							var active 		= (result && result.b2b_status)		 ?	result.b2b_status		: 0;

							/** active Status **/
							var statusTab	= (active == '<%=ACTIVE%>')	? '<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.deactive")%></span>';



							return statusTab;
						}
					},

					{
						"data"	 : 'created',
						"render" : function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"			: {},
						"orderable"		: false,
						"searchable"	: false,
						"render" 		: function(result){
							var id 				= (result._id)			? result._id			: "";
							var slug 				= (result.slug)			? result.slug			: "";
							var status			= (result.b2b_status)		? result.b2b_status			: "<%=DEACTIVE%>";
							var verified 		= (result.is_verified)	? result.is_verified	: "<%=NOT_VERIFIED%>";
							var emailVerified 	= (result.is_email_verified)	? result.is_email_verified	: "<%=NOT_VERIFIED%>";
							var mobileVerified 	= (result.is_mobile_verified)	? result.is_mobile_verified	: "<%=NOT_VERIFIED%>";

							/** Status Link Label And Class **/
							var statusLinkText  =	(status == '<%= DEACTIVE %>') ?	"<%= __('admin.system.active'); %>"				: "<%= __('admin.system.deactive'); %>" ;

							var statusLinkIcon  =	(status == '<%= DEACTIVE %>') ?	"done"	: "block";

							/** Verify Link Class **/
							var verifyClass	= (verified == "<%= VERIFIED%>")	?	"hide"	:"";

							/** Email Link Class **/
							var emailVerifyClass	= (emailVerified == "<%= VERIFIED%>")	?	"hide"	:"";

							/** Mobile Link Class **/
							var mobileVerifyClass	= (mobileVerified == "<%= VERIFIED%>")	?	"hide"	:"";

							var dropDownButton 	=	''+
							'<div class="dropdown btn-group m-l-5 m-t-5">'+
								'<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown"  aria-expanded="false">'+
									'<%= __("admin.system.action"); %>'+
									' <span class="caret"></span>'+
								'</button>'+
								'<ul class="dropdown-menu min-width-190">'+									
									/** View Link **/
									 '<li>'+
									 	'<a href="<%=admin_list_url+'/b2b_discount_employee_list/'+company_id%>/view/'+id+'" class="dropdown-item waves-effect waves-block">'+
									 		'<i class="material-icons">find_in_page</i>'+
											'<%= __("admin.system.view"); %>'+
									 	'</a>'+
									 '</li>'+
									
									/** Status Link  **/
									 '<li>'+
									 	'<a href="javascript:void(0)" data-href="<%=admin_list_url+'/b2b_discount_employee_list/'+company_id%>/update_b2b_discount_status/'+id+'/'+status+'" class="dropdown-item waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.user.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" >'+
											'<i class="material-icons">'+statusLinkIcon+'</i>'+
											statusLinkText+
									 	'</a>'+
									 '</li>'+									
								'</ul>'+
							'</div>';
							return dropDownButton;
						}
					},
				],
				"ajax":{
					url 	:	"<%=admin_list_url+"/b2b_discount_employee_list/"+company_id%>",
					type	: 	"POST",
					data	: 	function (d) {

						var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
						d.search_data = formdata
					},
					dataSrc	: function(res){
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					// Get the row count after the data is drawn
					var rowCount = dataTable.rows().count();
					// Log the row count to the console
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}
            	}
			});


		});

		$("#submit_btn").click(function(){
			dataTable.draw();
		})		
	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>
