.hideMe{
	display:none !important;
}
.admin-user-logo{
	height:48px;
	width:48px;
}
.color-fff{
	color:#fff !important;
}
.margin-top-0{
	margin-top:0px !important;
}
.action-btn-margin .btn{
	margin-top:5px;
}
.text-capitalize{
	text-transform:capitalize;
}

.collapsed .collapse-toggle-icon:before{
	content:"+" !important;
	transform: scale(1);
	font-weight:normal;	position: relative;
    right: 4px;
    top: -5px;
}


.collapse-toggle-icon:before{
	content:"_";
	transform: scale(1);
	font-weight:normal;
	position: relative;
    right: 5px;
	top: -15px;
}

.collapse-toggle-icon{
    font-size: 25px;
    font-weight: normal;
    position: relative;
    right: 4px;
    top: 0px;
    transition: all 0.3s ease 0s;
}
#cb-myuser-table_filter {
    visibility: hidden;
}
.btn-right-top-margin{
    right:25px !important;
    top:15px !important;
}
span.error {
    color: #f44336;
    display: block;
    font-size: 12px;
    font-weight: normal;
    margin-top: 5px;
}
td.dataTables_empty{
	text-align:center;
}
.ls-closed .navbar-brand{
	margin-left:20px !important;
}
.required{
	color: #b94a48;
}

h4.faq-action-btns a{
	display :inline-block !important;
}

h4.faq-action-btns .faq_actions{
	display :block !important;
	padding: 10px 0px !important;
}

h4.faq-action-btns .faq_actions i{
	cursor:pointer;
}

h4.faq-action-btns a:first-child{
	width:90% !important;
}

i.faq_action_edit:hover,i.faq_action_edit:focus{
	color:#2b542c !important;

}
i.faq_action_delete:hover,i.faq_action_edit:focus{
	color:#843534 !important;
}
td.break-url-string{
	max-width: 120px;
    overflow-wrap: break-word;
}

td.break-word-string{
    overflow-wrap: break-word;
}
.profileImage {
    border-radius: 100px;
    box-shadow: 0 2px 2px 0 #c2c2c2;
}
.width-100{
	width:100%;
}
.faq-no-record{
	margin-bottom: 0px !important;
}
.faq-main{
	padding-top: 13px;
}
.nl2br {
  white-space: pre-wrap;
}
.sidebar .user-info {
	height: 87px;
	padding: 0 15px 12px;
}
@media(min-width:768px){
	.edit-user-dob-error-span{
		position:relative !important;
		top:-35px !important;
		left:15px !important;
		word-wrap:break-word;
		display: inline-block !important;
	}
}
@media(max-width:768px){
	.edit-user-dob-error-span{
		position:relative !important;
		top:-15px !important;
		left:15px !important;
		padding-right:6px !important;
		word-wrap:break-word;
		display: inline-block !important;
	}
}

.plan-type-search-box{
	box-shadow: none;
	border: none;
	font-size: 12px;
	border-bottom: 1px solid #ddd !important;
}
.plan-type-search-box .placeholder{
	color:#999 !important;
}
.user-profile-video{
	background-color:#000;
}

.float-right{
	float:right;
}
.float-left{
	float:left;
}

.mb10{
	margin-bottom: 10px;
}
.pb15{
	padding-bottom: 15px;
}

/*15-12-2017*/
.content .btn-group.open .dropdown-menu{right:0; left:auto;}
.card .header h2 {font-size: 16px;}

@media(max-width:767px){
.card .btn.bg-indigo.waves-effect {padding: 6px;font-size: 12px;}
}

/* 21-12-2017 */
.mul-lan-nav .active a {font-weight:600;}
.mt-20{margin-top:20px;}

.field-seperator hr{
	border-color:rgba(0, 150, 136, 0.6);
}
.pagination li.active a:focus,
.pagination li.active  a:hover {
    background-color: #e91e63 !important;
    color: #fff;
    pointer-events: none;
   }
.pagination > li > a:hover, .pagination > li > span:hover, .pagination > li > a:focus, .pagination > li > span:focus{color:#e91e63;}

.pr-0{
	padding-right:0px !important;
}
.pl-0{
	padding-left:0px !important;
}
.mb0{
	margin-bottom:0px !important;
}
.ml-5{
	margin-left: 5px !important;
}
.faq-heading-row{
	margin:0px !important;
}
.faq-heading-row a{
	color:#fff !important;
}
.faq-heading-row .faq_actions{
	display:inline-flex !important;
	padding-right:0px !important;
}
.changePhoto, .changeBanner{
	width:170px !important;
}
.image-input-file{
	display:none !important;
}

.mt--9	{
	margin:-9px;
}
.m-r-8 {
  margin-right: 8px;
}

.date-picker-error{
	margin-top:0px !important;
}

.b-b-0{
	border-bottom: 0px!important;
}

.border-none{
	border: none!important;
}
.bootstrap-tagsinput{
	height:34px;
	overflow-y:scroll;
	width:100%;
}

.col-sm-12.disabled-variations {
  margin-bottom: -15px !important;
}
div.bootstrap-datetimepicker-widget .timepicker a.btn{
	box-shadow:none !important;
}

.option-html .addattribute .body .form-group {
  margin-bottom: 0;
}
.navbar{
	z-index: 12;
}

div.country-code-mask .input-group span.error{
	margin-top:0px;
}
div.country-code-mask .input-group .input-group-addon{
	padding-top:10px;
	position:absolute;
	z-index:11;
}

div.country-code-mask .input-group input.form-control{
	padding-left:91px;
}
.form-group .dropdown-toggle{
	padding-left:0px;
}

.resize-none{resize:none;}

.popover-content{
	max-height: 250px;
	overflow-y: scroll;
}
.popover-title{
	background-color: #E91E63 !important;
    color: #fff;
}

/* Switch ====================================== */
.switch.online label {
	font-weight: normal;
	font-size: 13px;
}
.switch.online label .lever {
	margin: 0 12px;
	background-color: rgba(244, 67, 54, 0.5);
}
.switch.online label .lever:after{
	background-color: #f44336;
}
.switch.online label input[type=checkbox]:checked:not(:disabled) ~ .lever.switch-col-green:active:after {
    box-shadow: 0 1px 3px 1px rgba(0, 0, 0, 0.4), 0 0 0 15px rgba(0, 150, 136, 0.1);
}
.switch.online.panel-switch-btn{
	right:0px !important;
	top :-18px;
}

.m-w-200{
	min-width:200px;
}
.full-length-header tr th{
	white-space: nowrap;
}
.margin-inherit{
	margin:inherit;
}
.padding-3{
	padding: 3px !important;
}

.min-height-inherit{
	min-height: inherit;
}

.p-t-5-0{
	padding:5px 0px !important;
}
.border-teal{
	border-color:#C79F49;
}

/* 404 page not found */
.four-zero-four {
    margin: 5% auto;
    text-align: center;
    width: 100%;
    line-height: 1.42857;
    font-family: "Roboto",Arial,Tahoma,sans-serif;
    background-color: #e9e9e9;
    transition: all 0.5s ease 0s;
}

.four-zero-four .go-homepage-btn {
	background-color: #ff4d55;
    border-radius: 4px;
    color: #fff;
    display: inline-block;
    font-size: 14px;
    margin-right: 0px;
    padding: 12px 32px;
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
}
.four-zero-four .go-homepage-btn:hover, .four-zero-four .go-homepage-btn:focus {
    background-color: #18b9a2;
    color: #fff;
    text-decoration: none;
}
.four-zero-four .four-zero-four-container .error-code {
    font-size: 160px;
}
.four-zero-four .four-zero-four-container .error-message {
    color: #333;
    font-size: 26px;
    font-weight: bold;
    margin-top: -40px;
}
.four-zero-four .four-zero-four-container .button-place {
    margin-top: 32px;
}

.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle) {
  color: #e91e63;
  margin-left : inherit;
}
.sidebar .menu .list .ml-menu li.active a.toggled:not(.menu-toggle)::before {
  content: "";
}
.no-bottom-border,  .no-bottom-border:focus{border-bottom:none !important}

.dropzone {
  border: 2px dashed #555 !important;
  background-color: #eee !important;
  border-radius:5px;
}
.dropzone.dz-drag-hover {
	border-style:solid !important;
}
.bootstrap-select {
  border-bottom: none !important;
}
.borderless-table tbody tr td{
	border:none !important;
	padding: 3px;
}


.product-gallery-list .filled-in[type="checkbox"]:not(:checked) + label::after {
  background: rgba(233, 30, 99, 0.5) none repeat scroll 0 0;
  border: 2px solid #e91e63;
}
.product-gallery-list .action-check-box {
  left: 20px !important;
  position: absolute !important;
  top: 5px;
}

.product-heading {
	margin-bottom: 20px;
	box-shadow: inherit;
}
.product-heading .header {
	padding: 10px;
}


.dropzone .dz-preview .dz-details,.dropzone .dz-preview .dz-image,.dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark,.dropzone .dz-preview .dz-progress{
	z-index: 10 !important;
}
.dropzone .dz-preview:hover,.dropzone .dz-preview .dz-error-message {
	z-index: 11 !important;
}

#lead-template-form .build-wrap input[type="checkbox"]:not(:checked), #lead-template-form .build-wrap input[type="checkbox"]:checked {
	opacity:1!important;
	position:relative!important;
/*
	margin-left: -20px !important;
*/
	left: 0px !important;
	vertical-align: text-bottom!important;
	margin-right: 2px;
}

#lead-template-form .build-wrap input[type="radio"]:not(:checked), #lead-template-form .build-wrap input[type="radio"]:checked {
	opacity:1!important;
	position:relative!important;
/*
	margin-left: -20px !important;
*/
	left: 0px !important;
	vertical-align: text-bottom!important;
	margin-right: 2px;
}
.build-wrap input[type="Location"] { width:100%; background-color: #fff; border: 1px solid #ccc; box-shadow: inset 0 1px 1px rgba(0,0,0,.075); height: 34px;}
.brand-tooltip{
	padding-left: 5px;
	position: absolute;
	top: 6px;
}

.border-bottom{
	border-bottom: 1px solid rgb(221, 221, 221) ! important;
}

.build-wrap .btn-group { box-shadow: none}

.a-disabled {
  cursor: default !important;
  opacity: 0.45 !important;
  pointer-events: none !important;
}


.cursor-pointer{
	cursor: pointer !important;
}
.stats-anchor:hover{
	text-decoration: none;
}
.min-width-190{
	min-width:190px;
}

.white-space-nowrap{
	white-space:nowrap;
}
.no-record-found-tag {
    color: #bbb;
    /* font-family: inherit !important; */
    font-size: 24px !important;
	text-shadow: none;
}
.no-records-found-img{
	height:90px;
	width:90px;
}

.checkbox-dataTable input[type="checkbox"]{
   cursor: pointer;
}

table.dataTable tbody > tr.selected, table.dataTable tbody > tr > .selected {
  background-color: #fffdd0;
}

.parent-check-box-label{
	height: 17px !important;
    line-height: 19px !important;
}
.child-check-box-label{
	height: 7px !important;
    line-height: 19px !important;
}
.selected-td{
	cursor: pointer;
}

#checkbox-dataTable .filled-in[type="checkbox"]:not(:checked) + label::after {
	width :14px !important;
	height :14px !important;
}

.m-t-2{
	margin-top:2px !important;
}
.multiple-inner-level-table .dataTables_wrapper .row .col-sm-6, .multiple-inner-level-table .dataTables_wrapper .row .col-sm-5, .multiple-inner-level-table .dataTables_wrapper .row .col-sm-7{
	margin-bottom:0px !important;
}
.multiple-inner-level-table td.details-control-td-class{
	padding:0px;
}
.multiple-inner-level-table .inner-data-table-class{
	max-height:50vh;
	overflow-y:scroll;
}
.z_index-10{
	z-index :10 !important;
}

.p-t-8 {
	padding-top:8px !important;
}
.p-b-8 {
	padding-top:8px !important;
}


.tree {
	min-height: 20px;
}

.tree li span a {
	color: #555
}

.tree li {
	list-style-type: none;
	margin: 0;
	padding: 10px 5px 0 5px;
	position: relative
}

.tree li::before,
.tree li::after {
	content: "";
	left: -29px;
	position: absolute;
	right: auto
}

.tree li::before {
	border-left: 2px solid #C0C2C7;
	bottom: 50px;
	height: 100%;
	top: -9px;
	width: 1px
}

.tree li::after {
	border-top: 2px solid #C0C2C7;
	height: 20px;
	top: 30px;
	width: 34px
}

.tree li span {
	border: 2px solid #C0C2C7;
	border-radius: 5px;
	font-size: 0.9em;
	display: inline-block;
	padding: 0px 5px;
	margin-top: 5px;
	margin-right: 2px;
	text-decoration: none;
}

.tree li .label.label-danger {
	border: 2px solid #D24D33;
}

.tree li .label.label-info {
	border: 2px solid #5BC0DE;
}

.tree li .label.label-warning {
	border: 2px solid #F0AD4E;
}

.tree li .label.label-default {
	border: 2px solid #999;
}

.tree li .label.label-success {
	border: 2px solid #82B964;
}

.tree li.parent_li>span {
	cursor: pointer
}

.tree>ul>li::before,
.tree>ul>li:after {
	border: 0
}

.tree li:last-child::before {
	height: 39px;
}


.simple-chaeckbox{
	opacity: 1 !important;
	position: relative  !important;
	left:0px  !important;
	vertical-align: text-bottom;
}

.tree li span.collapsed::before{
	content: '+';
}
.tree li span.expended::before{
	content: '\2013';
}

.tree li>label {
	border: 2px solid #cccccc;
	cursor: pointer;
	border-radius: 5px;
	display: inline-block;
	font-size: 0.9em;
	text-decoration: none;
	line-height: 20px;
}

.tree li.no-childrens label{
	margin-left: 25px;
}
.tree li label {
	text-transform: uppercase;
}
.card .body.mr-b .col-sm-12{
	margin-bottom : 0px;
}
.mr-b table{
	margin-top :0px !important;
}
.assigned-requests-parent-class .disabled,.assigned-requests-parent-class .disabled button{
	cursor:not-allowed !important;
}
.padding-10{
	padding:10px !important;
}
.text-decoration-none,.text-decoration-none:hover,.text-decoration-none:link{
	text-decoration:none;
}
#role_info_text{
	vertical-align: sub;
}
.daterangepicker select.yearselect{
	width : 46% !important;
}
.bootstrap-select .bs-searchbox .form-control{
	margin-left : 0px;
	padding-left: 50px;
}

.error-checkbox {
	outline: 2px solid red !important; padding-left: 0px !important; margin-right: 25px; height: 20px !important; top: 31px !important;
}

.top-36{
	top :36px !important;
}
.dropdown-menu.open .dropdown-menu.inner{
	max-height: 350px !important;
}
@media(max-width:500px){
	.dropdown-menu > li > a{
		white-space: normal;
	}
	.dropdown-menu > li > a span.text{
		margin-right: 8px !important;
	}
	.dropdown-menu.open .dropdown-menu.inner{
		max-height: 250px !important;
	}
}

.orderElement{
	color: rgb(0, 136, 204); cursor: pointer;
}
.orderdiv{
	color: rgb(0, 136, 204); cursor: pointer;

}
.list-order-text-box{
	width: 50% !important;
	float: left;
	border-radius:0;
}
.list-order-submit-button{
	padding: 1% 4% 12% 7%;
	margin-left: 0%;
	border-radius:0;
}
.list-order-submit-button-ican{
	vertical-align: -moz-middle-with-baseline;
}


.dropdown-menu.single.show-calendar{
	margin-top: 4px !important;
}

/** To set select box height*/
#notificationUserSelection .ms-container .ms-selectable, #notificationUserSelection .ms-container .ms-selection {
	width:48.7%;
	min-width: 220px !important;
}
#notificationUserSelection .second_label{
	margin-left:39.3%;
}
@media(min-width:768px){
	#selected_users_error{
		margin-left: 52%;
	}
}
@media(max-width:768px){
	#notificationUserSelection .ms-container .ms-selectable, #notificationUserSelection .ms-container .ms-selection {
		width:100% !important;
		min-width: 220px !important;
	}
	#notificationUserSelection .ms-selection{
		margin-top:20px;
	}
	#notificationUserSelection .second_label{
		margin-left:100%;
	}
}
.model-btn,.model-btn:hover,.model-btn:active {
	background-color:#008051 !important;
	color:#FFFFFF !important;
}
.padding-15{
	padding:15px !important;
}
.top-20{
	top:20px!important;
}
.top-10{
	top:10px!important;
}

.padding-left-5{
	padding: 0 0 0 5px !important;
}

.dropzone .dz-preview .dz-error-message {
    top: 150px!important;
}

.dropzone .dz-preview .dz-error-message span{
	word-wrap:break-word !important;
}
.close-modal:hover{
	color:#ffff !important;
}

.checkbox_label{height: 30px !important; }


.top-13{
	top:13px!important;
}
.top-25{
	top:25px!important;
}
.left-9{
	left:9px!important;
}

.input-loader-image{
	display: block;
	height: 24px;
}



.vertical-align-bottom{
	vertical-align : text-bottom !important;
}



/** style for chosen design*/
.modified-chosen .chosen-container-single .chosen-single{
	position: relative;
	display: block;
	overflow: hidden;
	height: 30px;
	color: #444;
	text-decoration: none;
	white-space: nowrap;
	line-height: 24px;
	border: none;
	border-radius: 0px;
	background-color:transparent;
	background:transparent;
	padding: 0px;
}
.modified-chosen .chosen-container-active .chosen-single{
	border-bottom: 1px solid #5897fb !important;
	box-shadow: none;
}
.modified-chosen .chosen-container-active.chosen-with-drop .chosen-single{
	padding: 0 0 0 8px;
}

.modified-chosen .chosen-container-single .chosen-single div b {
    display: block;
    width: 100%;
    height: 100%;
    background: url("chosen-sprite.png") no-repeat 0px 5px;
}

a.unseen_notification {
    background-color: #e9e9e9;
}
a.unseen_notification:hover {
    background-color: #fff !important;
}
a.not_anchor:hover {
	background-color: #fff !important;
	cursor: default;
}
h4.no_record_text{
	font-family: 'Roboto', Arial, Tahoma, sans-serif;
	font-size: 13px;
	font-weight: normal;
}
#notificationCounter.label-count {
    position: absolute;
    top: -1px;
	left: 18px;
	right: auto !important;
}
.navbar .dropdown-menu {
    margin-left: 0px;
}

ul#notificationList {
	list-style: none !important;
}

.get-question:hover,.get-question:active{
	color:#fff;
}

.correct-option-error{
/*
	margin-top: 28px !important;
*/
	position:absolute;
}

.loading-cntant{
	position:fixed;
	width:100%;
	height:100%;
	background-color:rgba(0, 0, 0, 0.4);
	top:0;
	bottom:0;
	text-align:center;
	display:table;
	background:url(../images/loader.png) no-repeat center center rgba(0, 0, 0, 0.8);
	z-index:99999;
	left:0;
	display:none;
}
.loading-cntant .loader{
	margin:auto;
	font-size:10px;
	position:absolute;
	text-indent:-9999em;
	border-top:8px solid #026BAC;
	border-right:8px solid #026BAC;
	border-bottom:8px solid #026BAC;
	border-left:8px solid #fff;


	-webkit-animation: spin 1s linear infinite;
  animation: spin 1s linear infinite;
	display:table-cell;
	vertical-align:middle;
	top:0;
	right:0;
	bottom:0;
	left:0;
	z-index: 999;
}
.loading-cntant .loader,
.loader:after {
  border-radius: 50%;
  width: 12em;
  height: 12em;
}
.inner-table-data {
    max-height: 350px;
    overflow-y: auto;
}
.white_logo_image{
	width:150px;
	height:100px;
}

.m-t--16{
	margin-top:-16px !important;
}
.ls-closed .navbar-brand{
	margin-left:30px !important;
}
.get-question.disabled{
	opacity : 0.87 !important;
}
.pointer-events-all{
	 pointer-events:all !important;
}
.login-page .input-group-addon{
	vertical-align:top;
}
.width-170{
	width:170px;
}
.width-180{
	width:180px;
}
.width-240{
	width:240px;
}

.multiSelect-search{
	-webkit-border-radius:0px;
	-moz-border-radius:0px;
	border-radius:0px;
	top:1px;
	background: url("search_icon.png") no-repeat 99% 7px;
	border-bottom:none;
	padding-right:25px;
}
.multiSelect-search:hover,.multiSelect-search:active,.multiSelect-search:focus{
	box-shadow: none !important;
	border-color: #CCC !important;
}
.ms-container .ms-list.ms-focus{
	border-color:#ccc !important
}
.inline-block{
	display:inline-block!important
}

.frmb .prev-holder input[type="number"], .frmb .prev-holder input[type="text"],.frmb .prev-holder textarea{
	padding-left:5px;
}

.profileImage{
	height:120px;
	width:120px;
}
.border-top{
	border-top: 1px solid rgb(221, 221, 221) ! important;
}

.set-model-header{
	margin-bottom:16px ! important;
}

.update-image-modal .modal-header{
	padding:21px 25px 5px 25px;
}

.simple-checkbox [type="checkbox"] + label{
	padding-left: 5px;
	font-weight: bold;
	vertical-align: middle;
	font-size: 14px;
	padding-top:3px;
}
.horizontal-labels{
	margin-top:6px;
}

.winning-breakdown-box .input-group .form-line + .input-group-addon{
	padding-left: 0px;
	line-height: 1.42857143;
}
.input-group-addon.currency{
	padding-right: 5px;
	padding-top: 0px;
	padding-bottom: 10px;
	font-size:16px;
}

.margin-0{
	margin:0px;
}
.max-w-60{
	width:60px;
}

.divider-border{
	/* border:1px solid rgba(204, 204, 204, 0.35) */
	border-bottom:1px solid #ddd;
	margin-left:-20px;
	margin-right:-20px;
	box-shadow: none;
}
.date-range-icon{
	cursor: pointer;
}

input.disabled, textarea.disabled{
	cursor: not-allowed;
	color: gray;
}
select.readonly{
	pointer-events:none;
	opacity: 0.8;
}
input.readonly{
	pointer-events:none;
	color: gray;
}
.cursor-not-allowed{
	cursor: not-allowed;
}
.no-padding{
padding:	0px ! important;
}
.no-margin-bottom{
	margin-bottom: -10px ! important;
}
.scoring-matrix .nav-tabs > li{
	width:25%;
	text-align:center;
}
.scoring-matrix .panel-primary{
	margin-bottom: -3px ! important;
}
.skill_help_text{
	text-align: right;
	font-style: italic;
	font-size: 12px;
	color: #777;
	margin: 5px 0 10px 0;
}
.no-background{
	background-color: transparent !important;
	margin-bottom:-10px !important;
}

.input_box{
	margin-top:-10px !important;
	margin-bottom:-10px !important;
	height:25px;
	width:70px;
	font-size:10px;
}
.inputBox{
	text-align:center !important;
	margin-right:-10px !important;
	height: 27px;
	font-weight: normal;
	width: 40px;
	padding: 5px;
	font-size: 12px;
	margin-top: 3px;
	margin-left: 28px;
}
#winningPopulationError{
	margin-top:0px;
}
#buffer_value{
	font-weight: bold;
}

.color-gray{
	color:gray;
}
.loading_icon{
	background-color: transparent !important;
	margin-top:-3px !important;
	margin-right:-40px !important;
	white-space:normal;
}
.preloader.pl-size-xss{
	width: 18px;
	height: 18px;
}
.score-text-success{
	background-color: transparent !important;
	color:#4CAF50;
}
.score-close-button{
	margin-right:-2px;
	margin-left:2px;
}
.border-red{
	border: 2px solid #E91E63 !important;
}
.noHover:hover{
     color:white;
}
.noHover:focus{
     color:white;
}

.font-weight-normal{
	font-weight:normal;
}

.spinner-input-group{
	width:63px;
	float: left;
}

.spinner-input-group .form-control{
	padding:0px;
}
.spinner-input-group .form-line + .input-group-addon{
	padding-left: 2px;
}
.spinner-label{
	float: left;
}

.spinner-divider{
	float: left;
	padding: 10px;
}
#fixture_loader{
	margin-top: 10px;
}
#fixture_loader img{
	height : 17px
}
.help_text_strike_economy{
	text-align: right;
	font-style: italic;
	font-size: 12px;
	color: white;
	margin: 5px 0 10px 0;
}

.header-logo{
	width:70px;
	height:50px;
}
.total-amount-label{
	padding-top: 8px;
}
@media(max-width:768px){
	.simple-checkbox{
		display: inline-flex !important;
		padding-left: 15px;
	}
	.total-amount-label {
		padding-top: 0px;
	}
}
.total-amount-label i.fa {
    color: #666 !important;
}
.currency-symbol{
	color: #555 !important;
}
.title-width{
 padding-left:100px !important;
 padding-right:100px !important;
}

.checkbox-readonly{
	pointer-events:none;
	cursor: not-allowed;
	opacity: 0.7;
}

.corporate_dashboard .content .number {
    font-weight: normal;
    font-size: 26px;
    margin-top: -4px;
    color: #555;
    display: inline-block;
}
.show_currency{
 font-weight: normal;
    font-size: 20px;
}

.country_code_css{
	width: 90px  !important;
	margin-top: -10px;
}
.latest_rides{
	padding: 10px 10px;
    border-bottom: 1px solid;
   }
.notifications_list{
	padding: 10px 10px;
    border-bottom: 1px solid;
	padding-bottom: 0px;
   }
.site_statistics_body{
padding : 10px;
}

.site_statistics_main .card {
	border : 1px solid;
	border-color: #F44336;
}
.ride_statistics_main .card {
	border : 1px solid;
	border-color: #FF9800;
}
section.corporate_profile_div{
	margin: 5px 15px 0 10px !important;
}
section.corporate_msg_div{
	margin:100px 15px 0 0 !important;
}

.time-style-none{
	list-style-type: none;
}
.admin_approve_btn{
	text-align:center;
}
/** For group  */
.detail{
	position : relative
}
.detail .delete-time-range{
	position: absolute;
    top: 11px !important;
    right: -101px !important;
}
.days_checkbox{
font-size:14px !important;
}





/** For group section*/
.group_page {
    padding: 12px 0 20px;
}
.group_page ul {
    display: flex;
    flex-wrap: wrap;
    margin: 0 -18px;
}
.group_page ul li {
    display: flex;
    flex-wrap: wrap;
    width: 33.33%;
    padding: 10px 18px;
}
.group_box h3 {
    display: block;
    text-align: center;
    color: #323232;
    font-size: 18px;
    font-weight: 600;
    border-bottom: 1px solid #e1e1e1;
    padding: 0 0 22px;
    margin: 0;
}
.group_box {
    background-color: #fff;
    width: 100%;
    padding: 30px 20px;
    border-radius: 8px;
}
.auto_paid {
    padding: 50px 0;
    text-align: center;
}
.auto_paid strong {
    display: block;
    font-size: 32px;
    color: #3b3b3b;
    font-weight: 700;
}
.auto_paid span {
    display: block;
    color: #717171;
    font-size: 14px;
}
.ride_expense {
    border-bottom: 1px solid #e1e1e1;
    border-top: 1px solid #e1e1e1;
}

.group_page ul li .ride_expense  li {
    padding: 5px 0;
    width: 50%;
    align-content: center;
    justify-content: center;
    border-right: 1px solid #e1e1e1;
}
.group_page ul li .ride_expense li span {
    display: block;
    width: 100%;
    text-align: center;
    color: #717171;
}
.group_page ul li .ride_expense li strong {
    width: 100%;
    color: #323232;
    text-align: center;
    font-weight: 700;
}
.edit_btn {
    text-align: center;
    padding: 48px 0 15px;
}
.edit_btn a {
    padding: 10px 28px;
    background-color: #323232;
    color: #fff;
    text-decoration: none;
    border-radius: 20px;
}
.group_box_section {
    padding: 10px 0 25px;
}

.add-btn-group{
	text-align: right;
	text-decoration: none;
}
.group-data-list{
	padding-left : 0px !important
}

.error-white{
	color:#FFFFFF;
}

.table-height{
	height:600px;
}

.th-height{
    height: 20px;
    overflow: hidden;
    width: 25%;
}

.group_box_section ul li {display: flex;flex-wrap: wrap;width: 33.33%;justify-content: center;align-items: center;align-content: center;padding: 0 20px;}
.group_box_section ul {display: flex;flex-wrap: wrap; margin:0 -20px }
.group_box_section ul li {padding: 0 10px;}

.group_box_section ul {margin: 0 -10px; padding-left:0px;}
.group_box_section {padding: 0px 0 15px;}

.green_box figure{border: 8px solid #3aa758;}
.green_box{ background-color:#3fb560;}
.blue_box{ background-color:#5d4f86;}
.yellow_box{ background-color:#e4ac00;}
.cstm_bg_box {width: 100%;text-align: center;padding: 30px 30px;position: relative;border-radius: 15px;height: 100%;}
.cstm_bg_box strong {display: block;font-size: 22px;width: 100%;font-weight: 700; margin:10px 0; color:#fff;}
.cstm_bg_box figure {height: 125px;width: 125px;margin: auto;line-height: 112px;background-color: #fff;border-radius: 50%;}
.cstm_bg_box span {font-size: 13px;color: rgba(0,0,0,0.5);}
.cstm_bg_box span br {display: none;}	
.cstm_bg_box strong {font-size: 19px;}	
.cstm_bg_box {padding: 20px 15px;}
.cstm_bg_box span br {display: none;}
.cstm_bg_box strong {font-size: 19px;}
.cstm_bg_box {padding: 20px 13px;}
.cstm_bg_box {padding: 30px 20px;}
.group_box_section ul li a { text-decoration: none;}

/**For vehicles section */
.pending-for-approval{color: #c41717;
font-weight: bold;
font-size: 16px;
}
/**For desfult  */
.text-type-data{color: white;font-weight: bold;font-size: 14px;}	

.dropdown-menu.open .bs-searchbox .form-control{margin-left : 0px; padding-left: 50px;}
.mobile_verify{margin-left: 5px!important;}
.current-header-user{display: inline-block;text-align: right ;width: 80%;margin: 25px 0;}
/**For corporate document */
.corporate-document{text-align : center}
.corporate-document-table{margin-top:37px}

.right_margin{margin-left: -15px;}
.right_align{text-align: end;}

.input-group span.login_error {
    color: #C5161D !important;
 }
/* Checkbox & Radio ============================ */
[type="checkbox"] + label,[type="radio"] + label {

	font-size: 14px !important;
	font-weight: bold !important;
}

.img_global_dimension{
	height:100px  !important ;
	width :100px !important ;
}
/*
.sidebar .menu{
	height: calc(100vh - 154px );
}
.slimScrollDiv .list{
	height: calc(100vh - 184px )!important;
}*/

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}


/*center a content horizontal*/
.content-center{
	display: flex;
	justify-content: center;
}

/*center a content verticle*/
.content-center-verticle{
	display: flex;
	justify-content: center;
	align-items: center;
}

/* 12-07-2023 */

/* .bg-green{
	background-color: #C79F49 !important;
	transition: all 0.2s ease-in-out;
} */
/* .bg-pink{
	background-color: #C79F49 !important;
	transition: all 0.2s ease-in-out;
} */
.bg-blue-grey{
	background-color: #000 !important;
	transition: all 0.2s ease-in-out;
}
.bg-brown{
	background-color: #e73d3d !important;
	transition: all 0.2s ease-in-out;
}
.bg-red{
	background-color: #e73d3d !important;
	transition: all 0.2s ease-in-out;
}
.switch label input[type=checkbox]:checked+.lever{
	background-color: #C79F49;
}
.switch label input[type=checkbox]:checked+.lever:after{
	background-color:#b78926;
}
.dd3-content:hover{
	color: #C79F49 !important;
}
.button-add-break{
	background-color: #000 !important;
}
.label-primary{
	background-color: #10920C !important;
}
.label-default{
	background-color: #C79F49 !important;
}
.table-bordered tbody tr td, .table-bordered tbody tr th{
	vertical-align: middle;
}
/* .img_global_dimension{
	width: 100% !important;
	height: 100% !important;
} */
.materialize_checkbox [type="checkbox"].filled-in:checked + label:after{
	background-color: #C79F49;
	border-color: #C79F49;
}
.sidebar .user-info .info-container{
	top: 35px;
}
.country-price-section .form-group .form-control{
	font-size: 12px;
}
.country-price-section .form-group label{
	font-size: 12px;
}
.sidebar .user-info{
	background-image: none;
	background-color: #545454 !important;
	/*height: 105px;*/

}
.tree li .label.label-danger{
	background-color: #ddd;
	color: #000;
	border-color: #aaa;
}

.tree li .label.label-danger input:checked{
	accent-color: #C79F49;
}
.tree li .label.label-success input:checked{
	accent-color: #C79F49;
}

.admin-dashboard-listing .bg-blue{
	background-color: rgba(51,164,253, 1) !important;
}
.admin-dashboard-listing .bg-brown{
	background-color: #C79F49 !important;
}
.admin-dashboard-listing .bg-green{
	background-color: #10920C !important;
}
.dataTables_wrapper .btn-success{
	background-color: #000!important;
}
.btn-primary{
	background-color: rgb(62, 163, 252) !important ;
	border: 1px solid rgb(62, 163, 252);
	transition: all 0.2s ease-in-out;
}
.btn-primary:hover{
	background-color: #fff !important;
	/* border-color: #C79F49 !important; */
	color: #000 !important;
}

.country-price-section .card-body{
	padding: 15px;
}
.section-fields .form-group.expend_btn{
	display: flex;
}
/* .section-fields .form-group.expend_btn */
.section-fields{
	margin: 0 -4px;
}
.section-fields .form-group{
	padding:  0 4px;
}
.section-fields .form-group a{
	width: 25px;
	height: 25px;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px !important;
	padding: 0;
}
.section-fields .form-group .form-control{
	border: 1px solid #afafaf;
	background-color: #fff;
	border-radius: 8px;
	padding-left: 15px;
}
.section-fields .form-group .read-fields{
	background-color: #eee;
}
.section-fields .form-group a:focus{
	background-color: #fff !important;
	color: #000 !important;
}
.section-fields .form-group a i{
	/* line-height: 24px; */
	top: 0;
}
.section-fields .form-group .change a , .section-fields .form-group .remove a{
	margin-left: 10px;
}
.all-country-box{
	display: flex;
	padding: 0 15px;
}
.all-country-box .box-left{
	width: 130px;
}
.all-country-box .box-right{
	width: calc(100% - 130px);
	padding-left: 25px;
}

/* 24-07-2023 */

.admin-dashboard-listing .info-box{
	border: 1px solid #ddd !important;
	border-radius: 5px;
	box-shadow:4px 4px 0 #c7c7c7 !important;

}
.admin-dashboard-listing .info-box .content .text{
	color: #000 !important;
}
.admin-dashboard-listing .info-box .content .number{
	color: #000 !important;
}
.admin-dashboard-listing .info-box .icon{
	background-color: transparent;
	border-right: 1px solid #ddd;
}
.admin-dashboard-listing .info-box .icon i{
	color: #000 !important;
}
.admin-dashboard-listing .total-order-color{
	background-color: #fff !important;
}
.admin-dashboard-listing .pending-order-color{
	background-color: #F5F5F6 !important;
    border: 1px solid #B3B3C7 !important;
}
.admin-dashboard-listing .total-progress-color{
	background-color: #F9F5EC !important;
    border: 1px solid #C79F49 !important;
}
.admin-dashboard-listing .online-color{
	background-color: #EFF0F9 !important;
    border: 1px solid #9399D2 !important;
}
.info-box.hover-expand-effect:after{
	background-color: rgba(0, 0, 0, 0.03) !important;
}

/* 24-07-2023 */
@media (max-width:1399px){
	.section-fields{
		flex-wrap: wrap;
	}
	.section-fields .form-group{
		width: 20%;
	}
	.country-price-section .section-fields .form-group{
		width: 20%;
	}
}
@media (max-width:991px){
	.section-fields .form-group{
		width: 33.33%;
	}
	.country-price-section .section-fields .form-group{
		width: 33.33%;
	}
	.all-country-box{
		flex-wrap: wrap;
	}
	/* .section-fields .form-group a i */
	.all-country-box .box-left{
		width: 100%;
		margin-bottom: 30px;
	}
	.all-country-box .box-right{
		width: 100%;
		padding-left: 0;
	}
}
@media (max-width:767px){
	.section-fields .form-group{
		width: 50%;
	}
	.country-price-section .section-fields .form-group{
		width: 50%;
	}
}
/* @media (max-width:576px){
	.section-fields .form-group{
		width: 100%;
	}
	.country-price-section .section-fields .form-group{
		width: 100%;
	}
} */

.read_only_css{
	background-color: #E9ECEF !important;
}
/* 12-07-2023 */


/* 25-07-2023 */

.web-sidebar{
	position: fixed;
	top: 80px;
	/* padding: 0 20px ; */
	left:0;
	height: 100%;
	width: 75px;
	/* background-color: #fff; */
	z-index: 999;
	transition: all 0.1s ease-in-out;
	overflow-y: auto;
	overflow-x: visible;
	-ms-overflow-style: none;
	scrollbar-width: none;
}
.web-sidebar::before{
	position: fixed;
	content: "";
	left: 0;
	top: 80px;
	width: 60px;
	height: 100%;
	background-color: #fff;
	transition: all 0.1s ease-in-out;
	box-shadow: rgba(0, 0, 0, 0.25) 6.4px 2.4px 9.2px;
}
.overlay-open .web-sidebar::before{
	display: none;
}
.web-sidebar::-webkit-scrollbar {
    display: none;
}
/* .web-sidebar:hover{
	width: 408px;
} */
.web-sidebar .sidebar-info{
	width: 60px;
	/* background-color: #fff;
	box-shadow: rgba(0, 0, 0, 0.25) 6.4px 2.4px 9.2px; */
	/* height: 100%; */
}


.ls-closed section.content{
	margin-left: 75px;
}
.overlay-open .web-sidebar{
	left: -100%;
}
.web-sidebar .sidebar-nav{
	padding: 0;
	margin: 0;
}
.web-sidebar .sidebar-nav li{
	list-style: none;
	border-bottom: 1px solid #ddd;
	position: relative;
	color: #000;
	transition: all 0.2s ease-in-out;
}
.web-sidebar .sidebar-nav li a{
	color: #747474;
	padding: 10px 20px;
	display: flex;
	align-items: center;
}
.web-sidebar .sidebar-nav li.active a{
	background-color:#000;
	color:#fff;
}
.web-sidebar .sidebar-nav li a i{
	font-size: 20px;
}
.web-sidebar .sidebar-nav li:hover a{
	color: #fff;
}
.web-sidebar .sidebar-nav li:hover{
	background-color: #000;
}
.web-sidebar .sidebar-nav li .sub-category{
	position: absolute;
	top: 0;
	left: 100%;
	padding: 0;
	background-color: #000;
	width: 310px;
	visibility: hidden;
	opacity: 0;
	transition: all 0.2s ease-in-out;
}
.web-sidebar .sidebar-nav li:hover .sub-category{
	visibility: visible;
	opacity: 1;
}
.web-sidebar .sidebar-nav li .sub-category li a{
	color: #fff;
	text-decoration: none;
	padding: 15px 20px;
	display: block;
	transition: all 0.2s ease-in-out;
}
.web-sidebar .sidebar-nav li .sub-category li a:hover{
	padding-left: 30px;
}

/* 25-07-2023 */
@media (max-width:991px){
.web-sidebar{
	display: none;
}
.ls-closed section.content {
    margin-left: 15px;
}
}

@media (min-width: 1024px){
	.modal-lg {
		width: 1024px;
	}
}

@media (min-width: 1100px){
	.modal-lg {
		width: 1100px;
	}
}


.order_detail .table-bordered tbody tr th, .order_detail .table-bordered tbody tr td, .order_detail .table-bordered thead tr th{
    padding: 5px;
}

.card .order_detail .col-md-3, .card .order_detail .col-md-6, .card .order_detail .col-md-9, .card .order_detail .col-md-12, .order_detail .table {
    margin-bottom: 10px;
}

.order_detail{
	padding-top: 2px !important;
}

.order_detail .table-bordered.no-top-border {
    border-top: none;
}

.order_detail th.text-center.bg-teal, .order_detail th.bg-teal{
	background-color: #fff !important;
    color: #000 !important;
}

.order_detail .no-top-border th.text-center.bg-teal{
	border-top: 0;
}

.order_detail .vcenter {
    vertical-align: middle;
}

table.dataTable thead>tr.filters>th {
    padding-right: 10px !important;
}
.greenStarIcon {
	color: #3c763d;
}
.blueStarIcon {
	color: #0000ff !important;
}
.user_section {
	display: flex; 
	justify-content: flex-start;
	align-items: center; 
	padding-right:15px; 
	flex-wrap: wrap;
}

.post_content_section{display: flex;}
 
.post_content_section .post_content_box{
	display: flex; 
	flex-direction: column; 
	margin-left: 15px; 
	width: 100%;
}
.status_list { 
	display: flex; 
	justify-content: flex-end; 
	align-items: center; 
	color: #fff !important;
}
.status_list .label{
	display: inline;
	padding: .2em .6em .3em;
	font-size: 75%;
	font-weight: bold;
	line-height: 1;
	color: #fff;
	text-align: center;
	white-space: nowrap;
	vertical-align: baseline;
	border-radius: .25em;
  
}
ul.counter_list{display: flex; justify-content: flex-start; align-items: flex-start; padding-left: 0; padding-top: 7px; position:relative; margin-top: auto;}

ul.counter_list li{ list-style: none; margin-right: 20px; display: flex; align-items: center;}

ul.counter_list li span{margin-left: 7px;}
.fullestoptheme.theme-pink .card .header .user_section h2 {
    color: #fff !important;
	padding:5px;
}

.card .header {
    color: #555;
    padding: 20px;
    /* position: relative; */
    border-bottom: 1px solid rgba(204, 204, 204, 0.35);
}

.card .header .header-dropdown {
	position: absolute !important;
	top: 20px !important;
	right: 15px !important;
	list-style: none !important;
}

.dropdown-menu.pull-right {
    right: 0 !important;
    left: auto !important;
}

.created_at.text-right strong i.material-icons{margin-right: 5px;}
.created_at.text-right strong{display: flex; align-items: center;justify-content: flex-end; padding-right: 10px; padding-top:20px;}

.counter_section{display: flex; align-items: center; justify-content: space-between;  margin-top: auto;}
.counter_section{flex-wrap:wrap;}
ul.counter_list{display: flex; justify-content: flex-start; align-items: flex-start; padding-left: 0; padding-top: 7px; position:relative; margin-top: auto;}

/** January 22,2024 */
.multi-action{  position:relative; float: left;}
.action-button {
width: 46px;
height: 46px;
margin:auto;
border-radius: 50%;
border: 0;
outline: 0;
background: #fff;
font-size: 24px;
border: 1px solid #eee;
z-index: 2;
color:#555;
transition: all 0.3s;
position:relative;
display: flex;
align-items: center;
justify-content: center;
}

.actions {
position: absolute;
list-style: none inside none;
margin: 0 auto 0;
padding: 0;
width: auto;
float: left;
background-color: transparent;
top: -1px;
left: -40px;
right:0;

z-index: 1;
width: 40px;
height: 40px;
border-radius: 50%;
}
/*.leftshift.actions {left:-16px;}*/

.actions a {
position: absolute;
display: block;
width: 50px;
height: 50px;
border-radius:0;
margin: 0;
transition: all 0.3s;
transform: scale(0.3);
background-color: #fff;
display: flex;
align-items: center;
justify-content: center;
}

.action-button.active ~ .actions a {
transition: all 0.3s;
transform: scale(1);
}
.action-button.active ~ .actions a button{  width: 35px; height: 35px;   border-radius: 50%;     display: flex;align-items: center;justify-content: center;     margin: 0px;  }
.action-button.active ~ .actions a:nth-child(1) {
margin-left: -47px;
}
.action-button.active ~ .actions a:nth-child(2) {
margin-left: -95px;
}
.action-button.active ~ .actions a:nth-child(3) {
margin-left: -143px;
}
.action-button.active ~ .actions a:nth-child(4) {
margin-left: -191px;
}
.action-button.active ~ .actions a:nth-child(5) {
margin-left: -239px;
}
.action-button.active ~ .actions a:nth-child(6) {
margin-left: -287px;
}

.action-button.active ~ .actions a:nth-child(7) {
margin-left: -335px;
}

.action-button.active ~ .actions a:nth-child(8) {
margin-left: -383px;
}
.actions a button.btn:not(.btn-link):not(.btn-circle) i.font-14 {
top: 0px;

}
.actions a button{  transition: all 0.3s;  width: 35px;
height: 35px;   border-radius: 50%;     display: flex;
align-items: center;
justify-content: center; 	margin:0px; }

.set_content{margin-right: -27px ;}
.fix_width{width:70px;height:70px;}
.center-logo{padding: 100px 7px;text-align: center;width: 100%;}
.center-logo img{width: 500px;}

#map {
	height: 70vh;
	width: 100%;
}
.grayTdColor{background-color:lightgray !important}

label.form-check-label.chk_box_lavel {
    font-weight: normal !important;
	padding-left: 0px;
}

.form-check.form-check-inline.chk_box {
	font-weight: normal !important;
	padding-left: 0px;
	margin-right: 5px;
}
.col-sm-2.sm_2_box {
    margin-bottom: 0px !important;
}
.color-red{color: red !important;}
.color-yellow{color: #f0ad4e !important;}