
<%

var imageURL = (image_url) ? image_url : "";

%>



<div class="container-fluid">


<!--Search Start -->
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-col-pink">
				<div class="panel-heading" role="tab" id="panel-heading-id">
					<h4 class="panel-title">
						<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id"
							data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false"
							aria-controls="panel-collapse-id">
							<i class="material-icons">search</i> <%= __("admin.system.search"); %>
							<span class="pull-right collapse-toggle-icon"></span>
						</a>
					</h4>
				</div>
				<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
					<form id="searchForm" name="searchForm" >
						<div class="panel-body">
							<div class="row clearfix dataTables_wrapper">
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick search_by_user_type" id="user_type" name="user_type" >
												<option value=""><%=__("admin.user.search_by_user_type");%></option>
												<%
												if(typeof PUSH_NOTIFICATION_USER_TYPE_DROPDOWN!== typeof undefined && PUSH_NOTIFICATION_USER_TYPE_DROPDOWN.length > 0){
													PUSH_NOTIFICATION_USER_TYPE_DROPDOWN.map(userType=>{%>
														<option value="<%=userType.id%>"><%=__(userType.name)%></option>
												<% 	});
												} %>
											</select>
										</div>
									</div>
								</div>
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<div class="form-group">
										<div class="form-line">
											<input class="form-control" id="subject"  placeholder="<%= __("admin.email_notification.search_by_subject"); %>" name="subject">
										</div>
									</div>
								</div>	
								
								
								
								<!-- Search by status -->
								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<div class="form-group">
										<div class="form-line">
											<select class="form-control show-tick search_by_status" id="status_search" name="status" >
												<option value=""><%=__("admin.user.search_by_status");%></option>
												<%
												if(typeof ACTIVE_DEACTIVE_DROPDOWN!== typeof undefined && ACTIVE_DEACTIVE_DROPDOWN.length > 0){
													ACTIVE_DEACTIVE_DROPDOWN.map(searchStatus=>{%>
														<option value="<%=searchStatus.status_id%>"><%=__(searchStatus.status_name)%></option>
												<% 	});
												} %>
											</select>
										</div>
									</div>
								</div>

								<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
									<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
										<%= __("admin.system.submit")%>
									</button>
									<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+"email-notification"%>">
										<%= __("admin.system.reset")%>
									</button>
								</div>
								
							</div>	
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<!--Search End -->



	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.email_notification.email_notification") %>
					</h2>					
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">						
						<li>
							<a href="<%=admin_list_url%>/add" class="m-l-10">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __("admin.system.add"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								
								<th><%= __('admin.email_notification.user_type'); %></th>
								<th><%= __('admin.email_notification.subject'); %></th>
								<th><%= __('admin.email_notification.message'); %></th>
								<th><%= __('admin.system.status'); %></th>
								<th><%= __('admin.system.created'); %></th>								
								<th><%= __('admin.system.action'); %></th>								
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>lightbox.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>lightbox.js"></script>

	<script type="text/javascript">
		/**
		* Function to initialize datatable and get server side data
		*/
		var dataTable = "";
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"language"	: 	{
					"url" 	: 	"<%= DATABLE_LANG_CDN %>"
				},
				"order"		: 	[[0, "desc" ]],
				"sDom"		:	"ltipr",
				"lengthMenu": 	PAGING_LENGTH_MENU,
				"serverSide":	true,
				"scrollX"	: 	true,
				"columns"	: 	[				    
				
				     {
						"data"		: "user_type",
						"orderable"	: false,
						"render"	: function(user_type){
							var returnString = 'All';
							if(user_type){
								var userObject 	= 	<%- JSON.stringify(PUSH_NOTIFICATION_USER_TYPE_DROPDOWN) %>;
								
								const userType = userObject.find(item => item.id == user_type);							
								 returnString	= 	userType.name;								
							}
							
							return returnString;	
						}

						
					},
					{
						"data"		: "subject",
						"orderable"	: false,
						"render" 	:  function(subject){
							return subject;
						}
					},
					{
						"data"		: "message",
						"orderable"	: false,
						"render" 	:  function(message){
							return '<span class="readmore">'+message+'</span>';
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render": function(result){
							var active 			= 	(result && result.is_active)			?	result.is_active			:"";
							
							/** Active Status **/
							var statusTab	 = 	(active == "<%=ACTIVE%>")  		? 	'<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.inactive")%></span>';
							statusTab		+=	'<br/>';
							return statusTab;
						}
					},
					{
						"data"			:	'created',
						"orderable"	 	:   true,
						"searchable" 	: 	true,
						"render" 		: 	function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(result){
							
							var id 				= 	(result._id)			?	result._id				:	"";
							var status			=	(result.is_active)		?	result.is_active		:	"<%=DEACTIVE%>";

							/** Status Link Label And Class **/
							var statusLinkText  =	(status == "<%= DEACTIVE %>") ?	"<%= __('admin.system.active'); %>"				: "<%= __('admin.system.deactive'); %>" ;
							var statusLinkTitle =	(status == "<%= DEACTIVE %>") ?  	"<%= __('admin.system.click_to_activate'); %>"  : "<%= __('admin.system.click_to_deactivate'); %>" ;
							var statusLinkIcon  =	(status == "<%= DEACTIVE %>") ?	"done"	: "block";
							
							var dropDownButton 	=	''+	
							'<div class="dropdown btn-group m-l-5 m-t-5">'+	
								'<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
									'<%= __("admin.system.action"); %>'+
									'<span class="caret"></span>'+
								'</button>'+	
								'<ul class="dropdown-menu min-width-190">'+
									
									
									/** Status Link  **/
									'<li>'+
										'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_notification_status/'+id+'/'+status+'/<%=ACTIVE_INACTIVE_STATUS%>" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.system.you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
											'<i class="material-icons">'+statusLinkIcon+'</i>'+
											statusLinkText+
										'</a>'+
									'</li>'+
									
									/** Delete Link */
									'<li>'+
										'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/delete/'+id+'" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.system.do_you_want_to_delete"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>">'+
											'<i class="material-icons">delete_sweep</i>'+
											'<%= __("admin.system.delete"); %>'+
										'</a>'+
									'</li>'+								
								'</ul>'+	
							'</div>';
							return dropDownButton;
						}
					},
				],
				"ajax":{
					url 	:	"<%= admin_list_url %>",
					type	: 	"POST",
					data	: 	function (d) {
						var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
						d.search_data = formdata
					},
					dataSrc	: function(res){
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					// Get the row count after the data is drawn
					var rowCount = dataTable.rows().count();
					// Log the row count to the console
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}
            	}
			});			
		
		});

		/**
		* Javascript function to search datatable
		*
		* @param  columnNumber as data table column number
		*
		* @return void
		*/
		$("#submit_btn").click(function(){
			dataTable.draw();
		})
	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
