<%	var result	= (typeof result !== typeof undefined && result)	?	result		:{};
	var faqId	= (typeof result._id !== typeof undefined)			? 	result._id	:"";

	var questionEn 			= (typeof result.question !== typeof undefined)			? result.question			: 'N/A';
	var questionAr 			= (result.pages_descriptions && result.pages_descriptions[ARABIC_LANGUAGE_CODE] && result.pages_descriptions[ARABIC_LANGUAGE_CODE]['question']) ? result.pages_descriptions[ARABIC_LANGUAGE_CODE]['question'] 	: 'N/A';
	var answerEn 			= (typeof result.answer !== typeof undefined)			? result.answer			: 'N/A';
	var answerAr 			= (result.pages_descriptions && result.pages_descriptions[ARABIC_LANGUAGE_CODE] && result.pages_descriptions[ARABIC_LANGUAGE_CODE]['answer']) ? result.pages_descriptions[ARABIC_LANGUAGE_CODE]['answer'] 	: 'N/A';

%>
<div class="container-fluid">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2><%= __('admin.faq.faq_details'); %></h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">

						<li>
							<a href="<%=admin_list_url%>">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __('admin.system.back'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body table-responsive" id="aniimated-thumbnials">
					<table  class="row-border hover table table-bordered" cellspacing="0" width="100%">
						<tr>
							<th class="text-right" width="20%"></th>
							<th class="" width="40%"><%= __('English'); %></th>
							<th class="" width="40%"><%= __('Arabic'); %></th>
						</tr>
						<tr>
							<th class="text-right" width="20%"><%= __('admin.faq.question'); %></th>
							<td><%-	 questionEn; %></td>
							<td><%- questionAr; %></td>
						</tr>
						<tr>
							<th class="text-right"><%= __("admin.faq.answer"); %></th>
							<td><%- answerEn; %></td>
							<td><%- answerAr; %></td>
						</tr>
					</table>
					<table  class="row-border hover table table-bordered" cellspacing="0" width="100%">
						
						<tr>
							<th class="text-right"><%= __('admin.system.status'); %></th>
							<td>
								<%
									var status 		= 	(typeof result !== typeof undefined && result.is_active) ? 	result.is_active :DEACTIVE;
									var statusClass	=	(status	==	ACTIVE) ?	"label-success"				:"label-danger";
									var satusText	=	(status	==	ACTIVE)	?	__('admin.system.active')	:__('admin.system.inactive');
								%>
								<span class="label <%= statusClass %>"><%= satusText %></span>
							</td>
						</tr>
						<tr>
							<th class="text-right" width="20%"><%= __('For User'); %></th>
							<td><%- (result.user_type) ? toTitleCase(result.user_type) : 'N/A';%></td>
						</tr>
						<tr>
							<th class="text-right"><%= __('admin.system.modified'); %></th>
							<td><span class="setDateTimeFormat" data-date-time="<%= (result.modified) ? result.modified : 'N/A';%>"></span></td>
						</tr>
					</table>
					
				</div>
			</div>
		</div>
	</div>
</div>
