
<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.company.edit_company"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<!-- Multilanguage tabs -->
					<%- include('../../elements/multilanguage_tabs.html') %>
					<!-- Multilanguage tabs -->
					<form id="edit-screen" data-submit-btn-id="screen-edit-btn-id" method="post" class="on_click_submit" role="form" enctype="mutlipart/form-data">		
						
						<div class="tab-content mt-20">			
							<div class="row clearfix">
								<div class="col-sm-12 align-center">
									<div class="form-group add-image">
										<% 
										var oldImage	= 	(result.image)		? result.image			:''; 
										var companyImage	= 	(company_image)		? company_image			:ADD_PROFILE_IMAGE_ICON; 
                                        var imageURL		= (image_url)		? image_url			    : "";
										%>	
										<input name="old_image" id="old_image" type="hidden" class="form-control"  value="<%=oldImage %>"/>
										<input name="image" id="splash_image" class="form-control image-input-file" type="file"/>
										<span class="help-inline required image" id="ContentTypeNameSpan">
											<div id="pImage">
												<img src="<%=imageURL%><%=companyImage%>?dim=120x120&type=resize" alt="Splash screen image" class="profileImage" />
											</div>
										</span>
										<br/>
										<div>
											<a href="javascript:void(0)" data-toggle="tooltip" data-placement="bottom" title="<%= __("admin.system.allowed_file_extension")+ALLOWED_IMAGE_EXTENSIONS%>" class="btn bg-teal btn-block btn-sm waves-effect changePhoto">
												<%= __("admin.banner.upload_image"); %>
											</a>
										</div>
										<span id="image_error" class="error"></span>
									</div>
								</div>
							</div>
 
							<%
							if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 0){
								language_list.forEach(function(languages){

									languageId 			= (languages._id) 		?  	languages._id 		:"";
									languageCode 		= (languages.lang_code) ?	languages.lang_code :"";
									company_name 		= (result.pages_descriptions && result.pages_descriptions[languageCode] && result.pages_descriptions[languageCode]['company_name']) ? result.pages_descriptions[languageCode]['company_name'] :"";
									contact_person_name	= (result.pages_descriptions && result.pages_descriptions[languageCode] && result.pages_descriptions[languageCode]['contact_person_name']) ? result.pages_descriptions[languageCode]['contact_person_name'] :"";
			 
									%>

								<div role="tabpanel" class="tab-pane multi-lang-tab-pane fade_lang in <%= (languageCode == DEFAULT_LANGUAGE_CODE) ? "active" : ""; %>" id="multi_lang_<%= languageCode; %>">
									<div class="row clearfix">
										<div class="col-sm-6">
											<div class="form-group">
												<div class="form-line">
													<label for="title_<%= languageCode; %>" class="control-label">
														<%= __("admin.company.company_name"); %>
														<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
															<span class="required"> *</span>
														<% } %> :
													</label>
													<input type="hidden" name="pages_descriptions[<%= languageCode %>][language_id]" value="<%= languageId; %>"/>
													<input type="text" id="company_name_<%= languageCode; %>" class="form-control" name="pages_descriptions[<%=languageCode%>][company_name]" value="<%=company_name%>"/>
												</div>
												<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
													<span id="pages_descriptions_<%=languageCode %>_company_name_error" class="error"></span>
												<% } %>
											</div>
										</div>
										<div class="col-sm-6">
											<div class="form-group">
												<div class="form-line">
													<label for="contact_person_name_<%= languageCode; %>" class="control-label">
														<%= __("admin.company.company_contact_person_name"); %>
														<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
															<span class="required"> *</span>
														<% } %> :
													</label>
													<input type="text" id="contact_person_name_<%= languageCode; %>" class="form-control" name="pages_descriptions[<%=languageCode%>][contact_person_name]" value="<%=contact_person_name%>"/>
												</div>
												<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
													<span id="pages_descriptions_<%=languageCode %>_contact_person_name_error" class="error"></span>
	
												<% } %>
											</div>
										</div>
									</div>
							    </div>
							<% 	});
							} %>


							
							<div class="row clearfix">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<label for="contact_person_email" class="control-label">
												<%= __("admin.company.contact_person_email"); %> <span class="required"> * </span>:
											</label> 
											<input type="text" id="contact_person_email" class="form-control" name="contact_person_email"  value="<%= result.contact_person_email; %>"/>
										</div>
										<span id="contact_person_email_error" class="error"></span>
									</div>
								</div>
								<div class="col-sm-6">
									<div class="form-group">
										<div class="form-line">
											<label for="contact_person_phone" class="control-label">
												<%= __("admin.company.contact_person_phone"); %> <span class="required"> * </span>:
											</label> 
											<input type="text" id="contact_person_phone" class="form-control" name="contact_person_phone"  value="<%= result.contact_person_phone; %>"/>
										</div>
										<span id="contact_person_phone_error" class="error"></span>
									</div>
								</div>
							</div>
							<div class="row clearfix">
								<div class="col-sm-6">
									<div class="form-group">
										<div class="form-lin">
											
											<label for="contract_file" class="control-label mb-2">
												<%= __('admin.franchise_contracts.contract_file'); %>
												<span class="material-icons align-middle" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= __("admin.system.allowed_file_extension")+ALLOWED_CONTRACT_DOCUMENT_EXTENSIONS%>">info</span>
	
											</label> <br/>
											<input name="contract_file" id="contract_file" type="file" class="form-control jfilestyle"/>
											<%if(result.contract_file){%>
											<a href="<%= COMPANY_URL + result.contract_file %>" download=""><span class="material-icons" data-bs-toggle="tooltip" data-bs-placement="top" title="<%= __('admin.company.click_download_contract')%>" >download</span></a>
											<%}%>
										</div>
										<span id="contract_file_error" class="error"></span>
									</div>
								</div>
							</div>
						</div>
						<input name="default_value" id="default_value" class="form-control image-input-file" value="default_value" type="hidden"/>
						
						<button type="button"  id="banner-edit-btn-id"  <%- ADMIN_LOADING_TEXT %> class="btn bg-pink btn-sm waves-effect btn-submit"><i class="material-icons font-14">save</i> <%= __('admin.system.submit'); %></button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor("css") %>
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>jquery-filestyle.min.css">
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>select2.css">
<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<%- contentFor("script") %>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>product.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>jquery-filestyle.min.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>ckeditor/ckeditor.js"></script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>

	<script type="text/javascript">
		/**Hide common error message*/
			$("div.alert-danger").hide();
		 
		/** Function to submit form
		 */
		 $(".btn-submit").click(function(){
			 
			var btnId = $(this).attr("id");
			startTextLoading(btnId);
			submit_multipart_form("edit-screen",function(status,response){					
				if(status){
					window.location.href = response.redirect_url;
				}else{
					stopTextLoading(btnId);
					changeTab('<%= DEFAULT_LANGUAGE_CODE %>');

					$("div.alert-danger").show();
					
					$('html, body').animate({
						 scrollTop: ($('.error').offset().top)
					}, 10);
				}
			});
		});
		
		/** 
		 * User image Upload 
		 */
		$(document).on("click", ".changePhoto", function(){
			if(!$(".add-image #splash_image").hasClass("added")){
				$(".add-image #splash_image").trigger("click");
				$(".add-image #splash_image").addClass("added");
				window.setTimeout(function(){
					$(".add-image #splash_image").removeClass("added");
				},500);
			}
		});
		
		/** 
		 *Show user image after select 
		 */
		$("#splash_image").on("change", function(){
			var UPLOAD_FILE_SIZE = '5';
			var size 			= parseFloat($("#splash_image")[0].files[0].size).toFixed(2);
			var allowed_size 	= UPLOAD_FILE_SIZE * 1024 * 1024; 
			if(size > UPLOAD_FILE_SIZE * 1024 * 1024){					
					$("#splash_image_error").html("Please upload valid size image. Maximum uploaded file size 2 MB.");
					$('#splash_image').val('');
			}else{
			var files = !!this.files ? this.files : [];
			if (!files.length || !window.FileReader) return; // no file selected, or no FileReader support
			
				if (/^image/.test( files[0].type)){ 
					// only image file
					var reader = new FileReader(); // instance of the FileReader
					reader.readAsDataURL(files[0]); // read the local file
					reader.onloadend = function(){ 
						
						$("#pImage").html("<img src='"+this.result+"' class='profileImage' >");
					}
					$("span#splash_image_error").text("");
				}
			}				
		});
	</script>
