<%
var imageURL		= (image_url)		? image_url			    : "";
%>
<div class="container-fluid">	
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false"
							   aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<form id="searchForm" name="searchForm" >
							<div class="panel-body">
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by title -->
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1" placeholder="<%= __('admin.company.search_by_company_name'); %>" name="company_name">
											</div>
										</div>
									</div>
									
									<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_1" placeholder="<%= __('admin.company.search_by_contact_person_name'); %>" name="contact_person_name">
											</div>
										</div>
									</div>
									
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group"> 
											<div class="form-line">
												<select class="form-control show-tick"id="column_filter_2"  name="is_active">
													<option value=""><%=__("admin.master.search_by_status");%></option>
													<%
													if(ACTIVE_DEACTIVE_DROPDOWN && ACTIVE_DEACTIVE_DROPDOWN.length > 0){
														ACTIVE_DEACTIVE_DROPDOWN.forEach(function(searchStatus,index){%>
															<option value="<%=searchStatus.status_id%>"><%=__(searchStatus.status_name);%></option>
													<% 	});
													} %>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
											<%= __("admin.system.submit")%>
										</button>
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=admin_list_url%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.company.company_management") %>
					</h2>					
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">						
						<li>
							<a href="<%=admin_list_url%>/add" class="m-l-10">
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __("admin.company.add_company"); %>
								</button>
							</a>
							<a href="<%=admin_list_url%>/export-company">
								<button type="button" class="btn bg-indigo waves-effect">
									<%= __('admin.system.export_all'); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th><%= __('admin.company.image'); %></th>								
								<th><%= __('admin.company.company_name'); %></th>								
								<th><%= __('admin.company.contact_person_name'); %></th>								
								<th><%= __('admin.company.number_of_discount_codes'); %></th>		 															
								<th><%= __('admin.company.number_of_employees'); %></th>		 															
								<th><%= __('admin.system.status'); %></th>	
								<th><%= __('admin.system.created'); %></th>							
								<th><%= __('admin.system.action'); %></th>								
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>lightbox.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>lightbox.js"></script>

	<script type="text/javascript">
		/**
		* Function to initialize datatable and get server side data
		*/
		var dataTable = "";
		let oldId		= "";
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
                "language"  :   {
                    "url"   :   "<%= DATABLE_LANG_CDN %>"
                },
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables'));
				},
				"order"			: 	[[1, "asc" ]],
				"sDom"			:	"ltipr",
				"lengthMenu"	: 	PAGING_LENGTH_MENU,
				"serverSide"	:	true,
				"scrollX"		: 	true,
				"columns"		: 	[
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	:	false,
						"render"		: 	function(result){
							var id 			=	(result._id) 						? 	result._id 						:'';
							var image 		=	(result.image) 						? 	result.image 						:'';
							var imgHtml		=	'';
							
							if(image){
								imgHtml = "<a href='<%= imageURL; %>"+image+"'  class='items-image' data-lightbox='roadtrip"+id+"'><img src='<%= imageURL; %>"+image+"?dim=70x70&type=resize' class='img-thumbnail'  alt='Profile Image'/></a>"
							}
							return imgHtml;
						}
					},
					{
						"data"			:	'company_name',
						"orderable"		:   false,
					},					
					{
						"data"			:	'contact_person_name',
						"orderable"		:   false,
					},					
					{
						"data"			:	{},
						"orderable"		:   false,
						"render": function(result){
							var id 		=	(result._id)		? 	result._id 		 :"";
							var b2bCodeCount	=	(result.b2bCodeCount)	? 	result.b2bCodeCount :"<%= DEACTIVE %>";
							return '<a href="<%=admin_list_url%>/b2b_discount_configuration/'+id+'" class="waves-effect waves-block">'+b2bCodeCount+'</a>';
						}
					}, 
					{
						"data"			:	{},
						"orderable"		:   false,
						"render": function(result){
							var id 		=	(result._id)		? 	result._id 		 :"";
							var b2bEmployeeCount	=	(result.b2bEmployeeCount)	? 	result.b2bEmployeeCount :"<%= DEACTIVE %>";
							return '<a href="<%=admin_list_url%>/b2b_discount_employee_list/'+id+'" class="waves-effect waves-block">'+b2bEmployeeCount+'</a>';
						}
					},	
					{
						"data"			: 	"is_active",
						"orderable"		:   false,
						"field_type"	:   "<%= NUMERIC_FIELD %>",
						"field_name"	:   "is_active",
						"render": function(is_active){
							var statusObject 	= 	<%- JSON.stringify(GLOBAL_STATUS_SEARCH_DROPDOWN)%>;
							var statusClass		=	(statusObject[is_active] && statusObject[is_active]["label_class"]) ? statusObject[is_active]["label_class"] :"";
							var statusLabel		=	(statusObject[is_active] && statusObject[is_active]["status_name"]) ? statusObject[is_active]["status_name"] :"";
							return '<span class="label '+statusClass+'">'+statusLabel+'</span>';
						}
					},
					{
						"data"			:	'created',
						"orderable"	 	:   true,
						"searchable" 	: 	true,
						"render" 		: 	function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(result){
							var id 		=	(result._id)		? 	result._id 		 :"";
							var status	=	(result.is_active)	? 	result.is_active :"<%= DEACTIVE %>";

							/** Status Link Text **/
							var statusLinkText  	=	(status == "<%= DEACTIVE %>") ? 	"<%= __('admin.system.active'); %>"				:"<%= __('admin.system.deactive'); %>";
							/** Status Link Title **/
							var statusLinkTitle 	=	(status == "<%= DEACTIVE %>")	?  	"<%= __('admin.system.click_to_activate'); %>"  :"<%= __('admin.system.click_to_deactivate'); %>" ;
							/** Status Link Icon **/
							var statusLinkIcon  	=	(status == "<%= DEACTIVE %>") ?	"done"	: "block";


							var dropDownButton 	=	''+		 
							'<div class="btn-group m-l-5 m-t-5">'+	
								'<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
									'<%= __("admin.system.action"); %>'+
									'<span class="caret"></span>'+
								'</button>'+	
								'<ul class="dropdown-menu min-width-190">'+
									/** Edit Link **/
									 '<li>'+
										'<a href="<%=admin_list_url%>/edit/'+id+'" class="waves-effect waves-block">'+
											'<i class="material-icons">mode_edit</i>'+
											'<%= __("admin.system.edit"); %>'+
										'</a>'+
									'</li>'+
									/** B2B Discount Configuration Link **/
									'<li>'+
										'<a href="<%=admin_list_url%>/b2b_discount_configuration/'+id+'" class="waves-effect waves-block">'+
											'<i class="material-icons">local_activity</i>'+
											'<%= __("admin.system.b2b_discount_configuration"); %>'+
										'</a>'+
									'</li>'+
									/** B2B Discount Configuration Link **/
									'<li>'+
										'<a href="<%=admin_list_url%>/b2b_discount_employee_list/'+id+'" class="waves-effect waves-block">'+
											'<i class="material-icons">list</i>'+'<%= __("admin.system.employee_list"); %>'+
										'</a>'+
									'</li>'+
									/** Status Link  **/
									'<li>'+
										'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/update_company_status/'+id+'/'+status+'/<%=ACTIVE_INACTIVE_STATUS%>" class=" waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.offers.do_you_want_to_change_status"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="'+statusLinkTitle+'">'+
											'<i class="material-icons">'+statusLinkIcon+'</i>'+
											statusLinkText+
										'</a>'+
									'</li>'+
									
								'</ul>'+	
							'</div>';
							return 	dropDownButton;
						}
					},
				],
				"ajax":{
					url 	:	"<%=admin_list_url%>",
					type	: 	"POST",
					data	: 	function (d) {

						var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
						d.search_data = formdata
					},
					dataSrc	: function(res){
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					// Get the row count after the data is drawn
					var rowCount = dataTable.rows().count();
					// Log the row count to the console
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}
            	}
			});
			/** Update Order value*/
			$(document).on('click', '.submit_order', function(e){
				var id 			= $(this).attr("data-id");
				var order 		= $(this).parent().find("input[type='text']").val();
				updateDisplayPriority(id,order);
			});

			/** Update Order value*/
			$(document).on('keyup', '.list-order-text-box', function(e){
				if (e.keyCode == 13) {
					$(this).parent().find(".submit_order").trigger("click");
					return false;
				}
			});
		
		});

		$("#submit_btn").click(function(){
			dataTable.draw();
		})




		/**
		 * Function to update order value
		 */
		 function updateDisplayPriority(moduleId,order){
			$.ajax({
				url 	: "<%=admin_list_url%>/change_order_number",
				type	: "POST",
				data	: {new_priority: $.trim(order), id : moduleId},
				success : function(res){
					if(res.status == "success") {
						notice("success",res.message);
						dataTable.draw();
					}else{
						notice("error",res.message);
					}
				}
			});
		};//End updateDisplayPriority();


		/** Javascript function to show text Box */
		var oldValue = "";
		function showtextBox(obj){
			var idArray	= obj.id.split("_");
			var current_id	 = idArray[1];
			$("#orderDiv_"+current_id).show();
			$("#orderData_"+current_id).hide();
			if(current_id != oldId && oldId != ""){
				$("#orderValue_"+oldId).val(oldValue);
				$("#orderDiv_"+oldId).hide();
				$("#orderData_"+oldId).show();
			}
			oldId 		= current_id;
			oldValue 	= $("#orderValue_"+current_id).val();
		};//end showtextBox();

		/**
		* Javascript function to search datatable
		*
		* @param  columnNumber as data table column number
		*
		* @return void
		*/
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()
	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>