<%
    var userId 		= (typeof user_id !== typeof undefined && user_id)		?	user_id 					:"";
%>

<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
			<div class="panel panel-default" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false" aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<form id="searchForm"  method="POST" name="searchForm" >
							<input type="hidden" name="search_open" id="search_open" value="0">
							<div class="panel-body">
								<div class="row clearfix dataTables_wrapper">
									<!-- Search by Name -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="column_filter_0" placeholder="<%= __('admin.orders.search_by_order_number'); %>" name="order_number">
											</div>
										</div>
									</div>
									<%//if(!userId){%>
									<!-- Search by Name -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<select data-live-search="true" class="form-control show-tick selectpicker search_by_language " data-dropup-auto="false" name="customer" >
													<option value=""><%= __("admin.points.search_by_customer"); %></option>
													<%- customer_list %>
												</select>
											</div>
										</div>
									</div>
									<%//}%>
									<!-- Search by transaction reason -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<select class="form-control show-tick search_by_status" id="transaction_reason" name="transaction_reason">
													<option value=""><%=__("admin.system.search_by_transaction_reason");%></option>
													<%
													if(typeof POINT_TRANSACTION_REASON_DROPDOWN!== typeof undefined && POINT_TRANSACTION_REASON_DROPDOWN.length > 0){
														POINT_TRANSACTION_REASON_DROPDOWN.map(item=>{%>
																<option value="<%=item.key%>"><%=__(item.value)%></option>
															<%
														});
													} %>
												</select>
											</div>
										</div>
									</div>
									<!-- Search by Date Range -->
									<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
										<div class="form-group">
											<div class="form-line">
												<input class="form-control" id="date-range-picker" name="created"  placeholder="<%= __('admin.user.search_by_created_date'); %>">
											</div>
											<input class="form-control hide" id="from_date" type="hidden" name="from_date">
											<input class="form-control hide" id="to_date" type="hidden" name="to_date">
										</div>
									</div>

									<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
										<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
											<%= __("admin.system.submit")%>
										</button>
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL+'points'%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __('admin.points.points_transaction_logs'); %>
					</h2>
					<!-- Inline User Details -->
					<%if(userId){%>
					<%- include ("../../elements/customer_info_details.html") %>
					<%}%>
					<p class="points-details">
						<b>Total Earned:</b> <span id="total_earned"></span> |
						<b>Total Redeemed:</b> <span id="total_redeem"></span> |
						<b>Total Redeemed Amount:</b> <span id="total_redeem_amount"></span>
					</p>
					<style>
						.points-details {
							font-size: 14px;
							color: #141414;
							margin-top: 10px;
							margin-bottom: 0;
						}
					</style>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						<li>
							<a href="javascript:void(0)" data-action-url="<%=admin_list_url %>/add_point<%=(userId) ? `?user_id=${userId}` : '' %>" data-open-modal="true" class="action-btn">
								<button type="button" class="btn bg-indigo waves-effect">
									<%= __("admin.points.add_point"); %>
								</button>
							</a>
						</li>
						<li>
							<a href="javascript:void(0)" data-action-url="<%=admin_list_url %>/deduct_point<%=(userId) ? `?user_id=${userId}` : '' %>" data-open-modal="true" class="action-btn">
								<button type="button" class="btn bg-indigo waves-effect">
									<%= __("admin.points.deduct_point"); %>
								</button>
							</a>
						</li>
						<li>
							<a href="<%=admin_list_url %>/export-points-list<%= (userId) ? `?user_id=${userId}` : ''%>">
								<button type="button" class="btn bg-indigo waves-effect">
									<%= __('admin.system.export_all'); %>
								</button>
							</a>
						</li>
						<%if(userId){%>
							<li>
								<a href="javascript:history.back()" class="wave-effect">
									<button type="button" class="btn bg-indigo waves-effect">
										<i class="material-icons font-14">keyboard_backspace</i> <%= __('admin.system.back'); %>
									</button>
								</a>
							</li>
						<%}%>
					</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th width="10%"><%= __('admin.user_point.order_number'); %></th>
								<th width="10%"><%= __('admin.user_point.customer'); %></th>
								<th width="10%"><%= __('admin.user_point.type'); %></th>
								<th width="10%"><%= __('admin.user_point.point'); %></th>
								<th width="10%"><%= __('admin.user_point.amount'); %></th>
								<th width="10%"><%= __('admin.user_point.balance'); %></th>
								<th width="10%"><%= __('admin.user_point.transaction_reason'); %></th>
								<th width="10%"><%= __('admin.user_point.message'); %></th>
                                <th width="20%"><%= __('admin.system.created'); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalLabel"><%= __("admin.sms_logs.message"); %></h5>
					
				</div>
				<div class="modal-body">
					<p id="modalMessage"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>wallet-tranaction.js"></script>

	<script type="text/javascript">
		var pointDataList;
		
		/**
		* Function to initialize datatable and get server side data
		*/
		var dataTable 	= "";
		$(document).ready(function() {
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables'));
				},
				"order"		: [[8, "desc" ]],
				"sDom"		: "ltipr",
				"lengthMenu": PAGING_LENGTH_MENU,
				"serverSide": true,
				"scrollX"	: true,
				"language"		: {
						"url"		: "<%=DATABLE_LANG_CDN%>",
				},
				"columns": [
					{
						"data": {},
						"orderable"		: false,
						"render": function (result) {
							
							let orderNumber = result.order_number 	|| ''
							let order_id    = result.order_id 		|| '';
							let html = ''
							if(order_id && orderNumber){
								html += '<a href="<%=WEBSITE_ADMIN_URL%>orders/view/'+order_id+'" display="_black">'+ orderNumber + '</a>';
							}else{
								html += 'N/A';
							}
							return html
						}
					},
					{
						"data"			: {},
						"orderable"	: false,
						"render"		: function(result){
							var returnString	= 	(result.customer_name) + "<br/>" + (result.customer_phone);
							return returnString;
						}
					},
					{
						"data": {},
						"orderable"		: false,
						"render": function (result) {
							let is_redeem =  result['is_redeem'] || Number('<%= DEACTIVE %>')
							let type 	  =  result['type'] || '';
							let typeObject =  <%- JSON.stringify(POINT_TYPE_DROPDOWN) %>	 
							let html = '';

							html += (type == '<%=POINT_TYPE_EARNED%>')? '<span class="badge bg-success">'+typeObject[type]+'</span>' 
							: '<span class="badge bg-danger">'+typeObject[type]+'</span>';
							return html;
						}
					},
					{
						"data": {},
						"orderable": false,
						"render": function (result) {
							let is_redeem = result['is_redeem'] || Number('<%= DEACTIVE %>');
							let type = result['type'] || '';
							let points_display = '';

							if (type == '<%= POINT_TYPE_REDEEM%>') {
								points_display = '<span class="text-danger">-' + result.total_redeem_points + '</span>';
							}else if (type == '<%= POINT_TYPE_EARNED %>'){
								points_display = '<span class="text-success">+' + result.points + '</span>'
							}else if(type == '<%= POINT_TYPE_DEDUCT %>'){
								points_display = '<span class="text-danger">-' + result.points + '</span>'
							} else {
								points_display = '<span class="text-muted">0</span>'; // Default case
							}

							return points_display;
						}
					},
					{
						"data": {},
						"orderable"		: false,
						"render": function (result) {
							if (result.is_redeem == 1) {
								return '<span class="text-success">' + currencyFormat(result.total_redeem_amount) + '</span>';
							} else {
								return currencyFormat(result.total_selling_amount) ;
							}
						}
					},
					{
						"data": "total_user_points",
						"orderable"		: false,
						"render": function (total_user_points) {
							return total_user_points;
						}
					},
					{
						"data": {},
						"orderable"		: false,
						"render": function (result) {
							var returnString	= 	'';
							var object 	= 	<%- JSON.stringify(POINT_TRANSACTION_REASON_DROPDOWN) %>;
							const reason = object.find(item => item.key == result.transaction_reason);
							
							if(result.transaction_reason == '<%= EARNED_BY_ORDER %>'){
								returnString	+= 	"<%= __('admin.points.earned_by_order')%>";
							}
							else if(result.transaction_reason == '<%= EARNED_BY_REFERRAL %>'){
								returnString += "<%= __('admin.points.earned_by_referral')%>";
							}
							else if(result.transaction_reason == '<%= EARNED_BY_LOYALTY %>'){
								returnString += "<%= __('admin.points.earned_by_loyalty')%>";
							}
							else if(result.transaction_reason == '<%= REDEEMED %>'){
								returnString += "<%= __('admin.points.redeemed')%>";
							}
							else if(result.transaction_reason == '<%= POINT_ADDED_BY_ADMINISTRATOR %>'){
								returnString += "<%= __('admin.points.added_deducted_by_administrator')%>";
							}
							else{
								returnString += "N/A";
							}
							return returnString;
						}
					}, 
					{
						"data": {},
						"orderable"		: false,
						"render": function (result) {
							/**Add a button that opens the modal with the message value*/ 
							return `<button class="btn btn-secondary open-modal" data-message="${result.note || 'N/A'}" type="button"><%= __("admin.user.view_message"); %></button>`;
						}
					},
					{
						"data": "created",
						"render" : function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
				],
				"ajax":{
					url 	:	"<%=admin_list_url + (userId) ? `?user_id=${userId}` : ''%>",
					type	: 	"POST",
					data	: 	function (d) {

						var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
						d.search_data = formdata
					},
					dataSrc	: function(res){
						pointDataList = res.data;
						
						if(res.totalEarnedPoints){
							$("#total_earned").html(res.totalEarnedPoints);
						}
						else {
							$("#total_earned").html(0);
						}
						
						if(res.totalRedeemedPoints){
							$("#total_redeem").html(res.totalRedeemedPoints);
						}
						else {
							$("#total_redeem").html(0);
						}
						
						if(res.totalRedeemedAmount){
							$("#total_redeem_amount").html(res.totalRedeemedAmount);
						}
						else {
							$("#total_redeem_amount").html(0);
						}
						
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					// Get the row count after the data is drawn
					var rowCount = dataTable.rows().count();
					// Log the row count to the console
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}
            	}
			});

			// Event listener for button clicks to open the modal
			$('#datatable-listing').on('click', '.open-modal', function () {
				var message = $(this).data('message'); // Get the message from the button's data attribute
				$('#modalMessage').text(message); // Set the message in the modal
				$('#messageModal').modal('show'); // Show the modal
			});

			$('#messageModal').modal('hide');
		});

		$("#submit_btn").click(function(){
			dataTable.draw();
		})
	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>
