<div class="container-fluid" id="main-container">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-default" id="panel-group-id" role="tablist" aria-multiselectable="true">
					<div class="panel panel-col-pink">
						<div class="panel-heading" role="tab" id="panel-heading-id">
							<h4 class="panel-title">
								<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false" aria-controls="panel-collapse-id">
									<i class="material-icons">search</i> <%= __('admin.system.search'); %>
									<span class="pull-right collapse-toggle-icon"></span>
								</a>
							</h4>
						</div>
						<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
							<form id="searchForm"  method="POST" name="searchForm" >
								<input type="hidden" name="search_open" id="search_open" value="0">
								<div class="panel-body">
									<div class="row clearfix dataTables_wrapper">
										
										<!-- Search by transaction id -->
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<input class="form-control" id="transaction_id" placeholder="<%= __('admin.user.search_by_transaction_id'); %>" name="transaction_id">
												</div>
											</div>
										</div>
										<!-- Search by transaction id -->
										<!-- Search by user name id -->
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<!-- <input class="form-control" id="user_name" placeholder="<%= __('admin.user.search_by_user_name'); %>" name="user_name"> -->
													<select data-live-search="true" class="form-control show-tick selectpicker search_by_language " data-dropup-auto="false" name="customer" >
														<option value=""><%= __("admin.points.search_by_customer"); %></option>
														<%- customer_list %>
													</select>
												</div>
											</div>
										</div>
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<input class="form-control" id="mobile_number" placeholder="<%= __('admin.user.search_by_mobile_number'); %>" name="mobile_number">
												</div>
											</div>
										</div>
										<!-- Search by user name id -->
										 
										<!-- Search by Type -->
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<select class="form-control show-tick search_by_status" id="type" name="type">
														<option value=""><%=__("admin.system.search_by_type");%></option>
														<%
														if(typeof AMOUNT_TYPE_DROPDOWN!== typeof undefined && Object.keys(AMOUNT_TYPE_DROPDOWN).length > 0){
															Object.keys(AMOUNT_TYPE_DROPDOWN).map(item=>{%>
																	<option value="<%=item%>"><%= AMOUNT_TYPE_DROPDOWN[item] %></option>
																<%
															});
														} %>
													</select>
												</div>
											</div>
										</div>

										<!-- Search by message -->
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<input class="form-control" id="message" placeholder="<%= __('admin.user.search_by_message'); %>" name="message">
												</div>
											</div>
										</div>

										<!-- Search by Type -->
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<select class="form-control show-tick search_by_transaction_type" id="transaction_type" name="transaction_type">
														<option value=""><%=__("admin.system.search_by_transaction_type");%></option>
														<% if (typeof WALLET_TRANSACTION_TYPES_DROPDOWN !== "undefined" && WALLET_TRANSACTION_TYPES_DROPDOWN.length > 0) {
															WALLET_TRANSACTION_TYPES_DROPDOWN.map(item => { %>
																<option value="<%= item.status_id %>"><%= __(item.status_name) %></option>
															<% });
														} %>
													</select>
												</div>
											</div>
										</div>
										<!-- Search by Date Range -->
										<div class="col-xs-12 col-sm-6 col-md-4 col-lg-4">
											<div class="form-group">
												<div class="form-line">
													<input class="form-control" id="date-range-picker" name="created"  placeholder="<%= __('admin.user.search_by_created_date'); %>">
												</div>
												<input class="form-control hide" id="from_date" type="hidden" name="from_date">
												<input class="form-control hide" id="to_date" type="hidden" name="to_date">
											</div>
										</div>

										<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
											<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
												<%= __("admin.system.submit")%>
											</button>
											<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=WEBSITE_ADMIN_URL%>view-wallet-history">
												<%= __("admin.system.reset")%>
											</button>
										</div>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->
	<!-- Start Listing -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.user.wallet_transaction_logs"); %>
					</h2>
					
					<p class="points-details">
						
						
					</p>
					<style>
						.total_earned{margin-right: 15px;}
						.points-details {
							font-size: 14px;
							color: #141414;
							margin-top: 10px;
							margin-bottom: 0;
						}
					</style>
					
					
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
					<li>
						<a href="<%=WEBSITE_ADMIN_URL%>export-wallet-history">
							<button type="button" class="btn bg-indigo waves-effect">
								<%= __('admin.system.export_all'); %>
							</button>
						</a>
					</li>
				</ul>
				</div>
				<div class="body">
					<table id="datatable-listing" class="row-border hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<th class="" width="10%"><%= __('admin.wallet.transaction_id'); %></th>
								<th class="" width="10%"><%= __('admin.wallet.user_name'); %></th>
								<th class="" width="10%"><%= __('admin.wallet.transaction_type'); %></th>
								<th class="" width="20%"><%= __('admin.wallet.message'); %></th>
                                <th class="" width="10%"><%= __('admin.wallet.amount'); %></th>
                                <th class="" width="10%"><%= __('admin.wallet.type'); %></th>
                                <th class="" width="10%"><%= __('admin.wallet.total_balance_after_transaction'); %></th>
                                 
                                <th class="" width="15%"><%= __('admin.system.transaction_date'); %></th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>

	<div class="modal fade" id="messageModal" tabindex="-1" role="dialog" aria-labelledby="messageModalLabel" aria-hidden="true">
		<div class="modal-dialog" role="document">
			<div class="modal-content">
				<div class="modal-header">
					<h5 class="modal-title" id="messageModalLabel"><%= __("admin.sms_logs.message"); %></h5>
					
				</div>
				<div class="modal-body">
					<p id="modalMessage"></p>
				</div>
				<div class="modal-footer">
					<button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
				</div>
			</div>
		</div>
	</div>
</div>
<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>wallet-tranaction.js"></script>

	<script type="text/javascript">
	 
		
		var dataTable 	= "";
		$(document).ready(function() {

			dataTable = $('#datatable-listing').DataTable({
				"bStateSave": true,
				"fnStateSave": function (oSettings, oData) {
					localStorage.setItem('DataTables', JSON.stringify(oData));
				},
				"fnStateLoad": function (oSettings) {
					return JSON.parse(localStorage.getItem('DataTables'));
				},
				"order": [[7, "desc"]],
				"sDom": "ltipr",
				"lengthMenu": PAGING_LENGTH_MENU,
				"serverSide": true,
				"scrollX": true,
				"language": {
					"url": "<%=DATABLE_LANG_CDN%>",
				},
				"columns": [
					{
						"data": {},
						"orderable": false,
						'render' :  function(result){
							let transactionTypeText = result.transaction_id || "N/A";
							if(result.note){
								transactionTypeText += ` 
								<i class="fa fa-question-circle" aria-hidden="true" data-toggle="tooltip" data-placement="top" title="${result.note}"></i>`;
							}
							 

							return transactionTypeText;

						}
					},
					{
						"data": {},
						"orderable": false,
						'render' :  function(result){

							htmlText = result.user_name
							htmlText += '<br><span>' + result.mobile_number + '</span>';

							return htmlText;
						 
						}
					},
					{
						"data"		: {},
						"orderable"	: false,
						"render"	: function(result){

							const TRANSLATIONS = {};
							<% WALLET_TRANSACTION_TYPES_DROPDOWN.forEach(function(item) { %>
								TRANSLATIONS["<%= item.status_name %>"] = "<%= __(item.status_name) %>";
							<% }); %>

							var transactionTypeObject 	= <%- JSON.stringify(WALLET_TRANSACTION_TYPES_DROPDOWN) %>; ;
							let transactionType = transactionTypeObject.find(item => item.status_id == result.transaction_type);

							let transactionTypeText = '';

							if (transactionType && transactionType.status_name) {
								let translatedName = TRANSLATIONS[transactionType.status_name] || transactionType.status_name;
								transactionTypeText = '<span class="label label-success m-l-5 m-t-5">' + translatedName + '</span>';
							}

							return transactionTypeText;
						}
					},
					{
						"data": 'message',
						"orderable": false,
					},
					{
						"data": {},
						"orderable": false,
						"render": function (result) {
							var amount = (result && result.amount) ? result.amount : 0;
							var amountType = (result && result.type) ? result.type : null;
							var note = (result && result.note) ? result.note : '';  // Get note data
 
							var formattedAmount = currencyFormat(amount);

							if (amountType == "<%= AMOUNT_CREDIT %>") {
								return `<span class="label label-success" title="${note}" data-bs-toggle="tooltip">+ ${formattedAmount}</span>`;
							} else if (amountType == "<%= AMOUNT_DEBIT %>") {
								return `<span class="label label-danger" title="${note}" data-bs-toggle="tooltip">- ${formattedAmount}</span>`;
							} else {
								return `<span title="${note}" data-bs-toggle="tooltip">${formattedAmount}</span>`;
							}
						}
					},
					
					{
						"data": 'type',
						"orderable": false,
						"render": function (type) {
							return toTitleCase(type);
						}
					},
					{
						"data": "total_balance_after_transaction",
						"orderable": false,
						"render": function (total_balance_after_transaction) {
							return (total_balance_after_transaction) ? currencyFormat(total_balance_after_transaction) : currencyFormat(0);
						}
					},
					 
					{
						"data": 'created',
						"render": function (created) {
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT);
						}
					}
				],
				"ajax": {
					url: "<%=admin_list_url %>/",
					type: "POST",
					data: function (d) {
						var formdata = JSON.parse(JSON.stringify($("#searchForm").serializeArray()));
						d.search_data = formdata;
					},
					dataSrc	:	function(res){
						$(".points-details").html('');
						let topHtml = '';
						if(res.totalDebit){ 
							topHtml += '<b>Total  <%= AMOUNT_DEBIT %> :</b> <span class="total_earned">' + res.totalDebit + '</span>';
						}
						
						if(res.totalDebit){ 
							topHtml += '<b>Total <%= AMOUNT_CREDIT %> :</b> <span class="total_earned">' + res.totalCredit + '</span>';
						}
						
						$(".points-details").append(topHtml);
						
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					var rowCount = dataTable.rows().count();
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}

					// Re-initialize Bootstrap tooltip after table is drawn
					$('[data-bs-toggle="tooltip"]').tooltip({
						trigger: 'hover',
						placement: 'top',
						container: 'body'
					});
				}
			});

			// Event listener for button clicks to open the modal
			$('#datatable-listing').on('click', '.open-modal', function () {
				var message = $(this).data('message'); // Get the message from the button's data attribute
				$('#modalMessage').text(message); // Set the message in the modal
				$('#messageModal').modal('show'); // Show the modal
			});

			$('#messageModal').modal('hide');

			// Enable Bootstrap Tooltip (Optional)
			$(document).on('mouseover', '#datatable-listing tbody tr', function () {
				$(this).tooltip({
					trigger: 'hover',
					placement: 'top',
					container: 'body'
				});
			});


			$('#wallet_deactive_add_click').click(function(){
				html_popup_success('<%=STATUS_ERROR%>', "<%= __('admin.wallet.wallet_is_deactive')%>", "<%= __('admin.wallet.please_active_wallet_first')%>", 10000)
			})


		});

		$("#submit_btn").click(function(){
			dataTable.draw();
		})

		 
	</script>
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>
