

<%
	let userId		=	(typeof user_id !== typeof undefined) ?  user_id : "";
	let userType    =   (typeof user_type !== typeof undefined) ?  user_type : "";
	let formUrl 	=	admin_list_url+'/'+userType +'/view-wallet-history'+'/add_amount/' + userId;
%>
<div class="row clearfix">
<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
	<form id="add-wallet-amount" action="<%=formUrl%>" data-submit-btn-id="add-amount-btn-id" method="post" class="on_click_submit" role="form">
		<div class="modal-dialog  modal-md" role="document">
			<div class="modal-content">
				<div class="modal-header modal-header-seperator p-l-20 p-b-0">
					<h2 class="modal-title">
						<%= __("admin.wallet.add_wallet_amount"); %>
					</h2>
				</div>
				<div class="modal-body padding-20">
					<div class="row clearfix">
						<div class="col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<label for="amount" class="control-label">
										<%= __("admin.wallet.amount"); %> <span class="required"> *</span>
									</label>
									<input name="amount" id="amount" type="text" class="form-control" />
								</div>
								<span id="amount_error" class="error"></span>
							</div>
						</div>
						<div class="col-sm-12">
							<div class="form-group">
								<div class="form-line">
									<label for="note" class="control-label">
										<%= __("admin.wallet.reason_for_adjustment"); %> <span class="required"> *</span>
									</label>
									<textarea name="note" id="note" rows="3" class="form-control"></textarea>
									
								</div>
								<span id="note_error" class="error"></span>
							</div>
						</div>
					</div>
				</div>
				<div class="modal-footer modal-footer-seperator justify-content-end">
					<button type="button" id="add-amount-btn-id" class="btn btn-success btn-sm waves-effect col-white btn-submit" <%- ADMIN_LOADING_TEXT %> >
						<%= __("admin.system.submit"); %>
					</button>
					<button type="button" class="btn btn-sm waves-effect bg-brown" data-bs-dismiss="modal" aria-hidden="true">
						 <%= __("admin.system.cancel"); %>
					</button>
				</div>
			</div>
		</div>
	</form>
</div>
</div>

<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.css">
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>daterange/daterangepicker.js"></script>

<script type="text/javascript">
		
	$('.btn-submit').click(function(){
		var btnId = $(this).attr('id');
		startTextLoadingInPopUP(btnId);
		ajax_submit('add-wallet-amount',function(status,response){
			if(status){
				stopTextLoadingInPopUP(btnId);
				functionHideModel()
				$("#overlay1").show();
				setTimeout(function(){
					$("#overlay1").hide();
					if(typeof dataTable !== typeof undefined) dataTable.ajax.reload(null, false);
					if(response.status && response.message) notice(response.status,response.message);
				},1000)
			}else{
				// notice(response.status,response.message);
				stopTextLoadingInPopUP(btnId);
			}
		});
	});
</script>
<script type="text/javascript" src="<%= WEBSITE_ADMIN_JS_PAGE_PATH %>date_range_picker/config.js"></script>
