<form id="reset-password" data-submit-btn-id="password-reset-btn-id" method="post" class="on_click_submit" role="form">
	<div class="msg"><%= __("admin.reset_password.reset_password"); %></div>
	<div class="input-group">
		<span class="input-group-addon">
			<i class="material-icons">lock</i>
		</span>
		<div class="form-line">
			<input name="validate_string" type="hidden"  id="validate_string" class="form-control" value="<%=validate_string %>"/>

			<input name="password" type="password" class="form-control" placeholder="<%= __("admin.reset_password.new_password"); %> *"/>
		</div>
		<span id="password_error" class="error login_error"></span>
	</div>
	<div class="input-group">
		<span class="input-group-addon">
			<i class="material-icons">lock</i>
		</span>
		  <div class="form-line">
			<input name="confirm_password" type="password" class="form-control" placeholder="<%= __("admin.reset_password.confirm_password"); %> *"/>
		</div>
		<span id="confirm_password_error" class="error login_error"></span>
	</div>
	
	<div class="col-xs-12 text-center">
		<button type="button" id="password-reset-btn-id" <%- ADMIN_LOADING_TEXT %> class="btn btn-sm waves-effect btn-block bg-pink waves-effectg btn-submit" >
			<%= __("admin.reset_password.reset_my_password"); %>
		</button>
	</div>
	
	<div class="row m-t-20 m-b--5 align-center">
		<a href="<%= WEBSITE_ADMIN_URL%>login" ><%= __("admin.reset_password.back_to_login"); %></a>
	</div>
</form>
<%- contentFor("script") %>
	<script type="text/javascript">

		/**
		 * Function to submit form
		 */
		$(".btn-submit").click(function(){
			var btnId = $(this).attr("id");
			startTextLoading(btnId);
			ajax_submit("reset-password",function(status,response){
				if(status){
					window.location.href = response.redirect_url;
				}else{
					stopTextLoading(btnId);
				}
			});
		});
	</script>
