<%
	type		=	(typeof type !== typeof undefined)			?	type		:"";
	displayType	=	(typeof displayType !== typeof undefined)	?	displayType	:__('admin.master.master');
	parentList	=	(typeof parent_list !== typeof undefined)	?	parent_list	:"";
%>
<div class="container-fluid">
	<!--Search Start -->
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="panel-group" id="panel-group-id" role="tablist" aria-multiselectable="true">
				<div class="panel panel-col-pink">
					<div class="panel-heading" role="tab" id="panel-heading-id">
						<h4 class="panel-title">
							<a role="button" data-bs-toggle="collapse" data-target="#panel-collapse-id" data-parent="#panel-group-id" href="#panel-collapse-id" aria-expanded="false" aria-controls="panel-collapse-id">
								<i class="material-icons">search</i> <%= __('admin.system.search'); %>
								<span class="pull-right collapse-toggle-icon"></span>
							</a>
						</h4>
					</div>
					<div id="panel-collapse-id" class="panel-collapse collapse in" role="tabpanel" aria-labelledby="panel-heading-id">
						<form id="searchForm" method="POST" name="searchForm" >
							<input type="hidden" name="search_open" id="search_open" value="0">
							<div class="panel-body">
								<div class="row clearfix dataTables_wrapper"> 
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<div class="form-line">
												<% var filterColumnNumber = (type == "gift-templates")	?	1	:0; %>
												<input class="form-control" id="column_filter_<%=filterColumnNumber%>"   name= "name"  placeholder="<%= __("admin.system.search_by_name"); %>">
											</div>
										</div>
									</div>
									<!-- Search by Status -->
									<div class="col-xs-12 col-sm-6">
										<div class="form-group">
											<div class="form-line">
												<% var filterColumnNumber = (type == "gift-templates" ) ?	2	:1; %>
												<select class="form-control show-tick" id="column_filter_<%=filterColumnNumber%>" name="status">
													<option value=""><%=__("admin.system.search_by_status");%></option>
													<%
													if(typeof ACTIVE_DEACTIVE_DROPDOWN!== typeof undefined && ACTIVE_DEACTIVE_DROPDOWN.length > 0){
														ACTIVE_DEACTIVE_DROPDOWN.map(searchStatus=>{%>
															<option value="<%=searchStatus.status_id%>"><%=__(searchStatus.status_name)%></option>
													<% 	});
													} %>
												</select>
											</div>
										</div>
									</div>
									<div class="col-xs-12 col-sm-6">
										<button type="button" id="submit_btn" class="btn btn-sm waves-effect btn-success">
											<%= __("admin.system.submit")%>
										</button>
										<button type="button" id="reset" class="btn btn-sm waves-effect btn-danger" data-href="<%=admin_list_url+'/'+type%>">
											<%= __("admin.system.reset")%>
										</button>
									</div>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<!--Search End -->

	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2> <%= __(displayType); %> </h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin visible-md visible-lg visible-sm">
						 
						<li>
							<a href="<%=admin_list_url+"/"+type%>/add" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">add</i> <%= __('admin.system.add')+" "+__(displayType); %>
								</button>
							</a>
						</li>
					</ul>
					<!-- Only For Mobile View-->
					<ul class="header-dropdown m-r--5 visible-xs">
						<li class="dropdown">

							<ul class="dropdown-menu pull-right m-w-200">
								<li>
									<a href="<%=admin_list_url+"/"+type%>/add">
										<i class="material-icons">add</i><%= __('admin.system.add')+" "+displayType; %>
									</a>
								</li>
								 
							</ul>
						</li>
					</ul>
				</div>
				<div class="body checkbox-dataTable">
					<table id="datatable-listing" class="row-border full-length-header hover table table-bordered cb-data-table" cellspacing="0" width="100%">
						<thead>
							<tr>
								<% if(type == "gift-templates"){ %>
									<th width="15%">	<%= __("admin.master.image"); %></th>
								<% }%>
								 
								<th width="30%">	<%= __('admin.master.name');%>		</th>
								<th width="10%">	<%= __('admin.system.status');%>	</th>
								<th width="10%">	<%= __('admin.system.is_default');%>	</th>
								<th width="20%">	<%= __('admin.system.created');%>	</th>
								<th width="10%">	<%= __('admin.system.action'); %>	</th>
							</tr>
						</thead>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor('css') %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>lightbox.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>lightbox.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script type="text/javascript">
		/** Function to initialize datatable and get server side data*/
		var dataTable ="";
		$(document).ready(function() {
			var orderFieldNumber = "<%= (type == 'gift-templates') ? 1 	: 2;%>"
			dataTable = $('#datatable-listing').DataTable({
				"bStateSave"	: true,
				"fnStateSave"	: function (oSettings, oData) {
					localStorage.setItem( 'DataTables', JSON.stringify(oData) );
				},
				"fnStateLoad"	: function (oSettings) {
					return JSON.parse( localStorage.getItem('DataTables'));
				},
				"order"		: 	[[ orderFieldNumber, "asc" ]],
				"sDom"		:	"ltipr",
				"serverSide": 	true,
				"scrollX"	: 	true,
				"language"	: 	{
					"url" 	:   "<%= DATABLE_LANG_CDN %>"
				},
				"lengthMenu":	PAGING_LENGTH_MENU,
				"columns"	: 	[
					<% if(type == "gift-templates"){ %>
						{
							"data"			: 	{},
							"orderable"		:   false,
							"searchable"	:	false,
							"render"		: 	function(result){
								var imagePath	=	(result['image']) 	? 	'<%=MASTER_FILE_URL%>' + result['image'] :'';
								var id 			=	(result._id) 						? 	result._id 						:'';
								var imgHtml		=	'';
								if(imagePath && imagePath !=""){
									imgHtml = "<a href='"+imagePath+"'  class='items-image' data-lightbox='roadtrip"+id+"'><img src='"+imagePath+"?dim=70x70&type=resize' class='img-thumbnail'  alt='Master Image'/></a>"
								}
								return imgHtml;
							}
						},
					<% } %>
					{ 
						"data": 'name',
						"searchable" : true
					},
					{
						"data"			: 	"status",
						"orderable"		:   false,
						"field_type"	:   "<%= NUMERIC_FIELD %>",
						"field_name"	:   "status",
						"render"		: 	function(status){
							var active 			= 	(status)			?	status			:"";
							/** Active Status **/
							var statusTab	 = 	(active == '<%=ACTIVE%>')  		? 	'<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.active")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.inactive")%></span>';
							statusTab		+=	'<br/>';
							return statusTab;
						}
					},
					{
						"data"			: 	"is_default",
						"orderable"		:   false,
						"field_type"	:   "<%= NUMERIC_FIELD %>",
						"field_name"	:   "is_default",
						"render"		: 	function(is_default){
							var is_default 			= 	(is_default)			?	is_default			:"";
							/** Active Status **/
							var isDefaultTab	 = 	(is_default == '<%=ACTIVE%>')  		? 	'<span class="label label-success m-l-5 m-t-5"><%=__("admin.system.yes")%></span>': '<span class="label label-danger m-l-5 m-t-5"><%=__("admin.system.no")%></span>';
							isDefaultTab		+=	'<br/>';
							return isDefaultTab;
						}
					},
					{
						"data": 'created',
						"searchable"	: 	false,
						"render" 		: 	function(created){
							return moment(created).tz(DEFAULT_TIME_ZONE).format(DATATABLE_DATE_TIME_FORMAT) ;
						}
					},
					{
						"data"			: 	{},
						"orderable"		:   false,
						"searchable"	: 	false,
						"render" 		: 	function(result){
							var id 			=	(result._id)		? result._id 		: '';
							var status 		=	(result.status)		? result.status 	: '<%= DEACTIVE %>';
							
							var is_default = (result.is_default) ? result.is_default : '<%=DEACTIVE%>';

							/** Status Link Text **/
							var statusLinkText  =	(status == '<%= DEACTIVE %>') ?	"<%= __('admin.system.active'); %>"				: "<%= __('admin.system.deactive'); %>" ;

							/** Status Link Icon **/
							var statusLinkIcon  =	(status == '<%= DEACTIVE %>') ?	"done"	: "block";
							
							let defaultLink = '';
							
							if(result.dropdown_type == "gift-templates"){
							
							defaultLink = '<li>' +
									'<a href="javascript:void(0)" data-href="<%=admin_list_url%>/<%= type %>/set_default/' + id + '" class="waves-effect waves-block confirm_box" data-confirm-message="<%= __("admin.system.do_you_want_to_set_address_default"); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" title="<%= __("admin.customer_address.click_to_set_default") %>">' +
									'<i class="material-icons">check_box</i>' +
									'<%= __("admin.customer_address.set_default") %>' +
									'</a>' +
									'</li>';
							}
							
							var dropDownButton 		=	''+
							'<div class="dropdown btn-group">'+
								'<button type="button" class="btn btn-primary dropdown-toggle" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="true">'+
									'<%= __("admin.system.action"); %> '+
									'<span class="caret"></span>'+
								'</button>'+
								'<ul class="dropdown-menu">'+
									/** Edit Link **/
									'<li>'+
										'<a href="<%=admin_list_url+"/"+type%>/edit/'+id+'" class="dropdown-item waves-effect waves-block">'+
											'<i class="material-icons">mode_edit</i>'+
											' <%= __("admin.system.edit"); %>'+
										'</a>'+
									'</li>'+
									/** Status Link **/
									'<li>'+
										'<a href="javascript:void(0)" data-href="<%=admin_list_url+"/"+type%>/change_status/'+id+'/'+status+'" class="dropdown-item waves-effect waves-block confirm_box" data-confirm-message="<%=__("admin.master.do_you_want_to_change_status_of_this_master",__(displayType).toLowerCase()); %>" data-confirm-heading="<%= __("admin.system.are_you_sure") %>" >'+
											'<i class="material-icons">'+statusLinkIcon+'</i>'+
											statusLinkText+
										'</a>'+
									'</li>'+
									/** View Link **/
									'<li>'+
										'<a href="<%=admin_list_url+"/"+type%>/view/'+id+'" class="dropdown-item waves-effect waves-block">'+
											'<i class="material-icons">find_in_page</i> '+
											'<%= __("admin.system.view"); %>'+
										'</a>'+
									'</li>'+
									
									((is_default != '<%=ACTIVE%>') ? defaultLink : '') +
									
									
								'</ul>'+
							'</div>';
							return dropDownButton;
						}
					}
				],
				"ajax":{
					url 	:	"<%=admin_list_url+"/"+type%>",
					type	: 	"POST",
					data 	:function (d) {
						var formdata =  JSON.parse(JSON.stringify($("#searchForm").serializeArray()))
						d.search_data = formdata

					},
					dataSrc	: 	function(res){
						return res.data;
					}
				},
				"drawCallback": function (settings) {
					// Get the row count after the data is drawn
					var rowCount = dataTable.rows().count();
					// Log the row count to the console
					if (rowCount < 4) {
						$('#datatable-listing').addClass('setTableActionBtn');
					} else {
						$('#datatable-listing').removeClass('setTableActionBtn');
					}
            	}
			});
		});

		$("#submit_btn").on('click', function(){
			dataTable.draw();
		});

		/**
		*Javascript function to search datatable
		*/
		function searchDatatable(columnNumber){
			var query= $('#column_filter_'+columnNumber).val();
			dataTable.column(columnNumber).search(query).draw()
		}//end searchDatatable()

		/**
		* Search by status
		*
		* @param  null
		*
		* @return void
		*/
		$(".search_by_status").change(function(){
			dataTable.draw();
		});
	</script>

<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>datatable_state_storage.js"></script>
