<%
	result 				= (typeof result !== typeof undefined && result)			? result 					:{};
	var isEditable 		= (typeof is_editable !== typeof undefined && is_editable)	? is_editable				:"";
	var validFrom		= (result.code_valid_from)									? result.code_valid_from	:"";
	var validTo			= (result.code_valid_to)									? result.code_valid_to		:"";
	var validityType	= (result.validity_type)									? result.validity_type		:"";
	var unlimited		= (result.unlimited)										? result.unlimited			:"";

%>
<div class="container-fluid" id="main-container">
	<div class="row clearfix">
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= (isEditable) ? __("Edit Promo Code") : __("Add Promo Code"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" >
								<button type="button" class="btn bg-indigo waves-effect">
									<i class="material-icons font-14">keyboard_backspace</i> <%= __("Back"); %>
								</button>
							</a>
						</li>
					</ul>
				</div>
				<div class="body">
					<form id="add-promo-code" data-submit-btn-id="promo-add-btn-id" method="post" class="on_click_submit" role="form" enctype="mutlipart/form-data">
						<!-- Promo Code name and code -->
						<div class="row clearfix">

							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="promo_code" class="control-label"><%= __("Code"); %><span class="required"> *</span> :</label>
										<input name="promo_code" id="promo_code" type="text" class="form-control <%- (isEditable) ? "readonly" :"";%>" value="<%=(result.promo_code) ? result.promo_code :"";%>" <%- (isEditable) ? "readonly" :"";%> />
									</div>
									<span id="promo_code_error" class="error"></span>
								</div>
							</div>
							<%if(!isEditable){%>
							<div class="col-sm-6">
								<div class="form-group">
									<button type="button" class="btn bg-indigo btn-sm waves-effect" onclick="getRandomString()">Generate A Random Code</button>
								</div>
							</div>
							<%}%>
						</div>
						<div class="row clearfix validity_type_fields1">
							<div class="col-md-6">
	                           <label for="code_valid_from" class="control-label"><%= __("Coupons Valid From"); %><span class="required"> *</span> :</label>
	                            <div class="input-group">
									<div class="form-line">
	                                    <input name="code_valid_from" id="code_valid_from" type="text" class="form-control" placeholder="" readonly="true"/>
	                                </div>
	                                <span id="code_valid_from_error" class="error"></span>
	                            </div>
	                        </div>
							<div class="col-md-6">
	                           <label for="code_valid_to" class="control-label"><%= __("Coupons Valid To"); %><span class="required"> *</span> :</label>
	                            <div class="input-group">

	                                <div class="form-line">
	                                    <input name="code_valid_to" id="code_valid_to" type="text" class="form-control" placeholder="" readonly="true"/>
	                                </div>
	                                <span id="code_valid_to_error" class="error"></span>
	                            </div>
	                        </div>
						</div>
						<div class="row">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="code_discount_type" class="control-label"><%= __("Code Discount Type"); %><span class="required"> *</span> :</label>
										<select id="code_discount_type" name="code_discount_type" class="form-control show-tick" onchange="showDiscountTypeBlock(this)">
											<option value="">Select A Code Discount Type</option>
											<% COUPON_DISCOUNT_TYPE_DROPDOWN.map((code)=>{
												let selected = "";
												if(isEditable){
													selected = (code.coupon_id == result.code_discount_type) ? "selected" : " ";
												}%>
												<option value="<%= code.coupon_id %>" <%- selected %>><%= __(code.coupon_name) %></option>
											<% }); %>
										</select>
									</div>
									<span id="code_discount_type_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="min_order_value" class="control-label"><%= __("Minimum Order Value"); %><span class="required"> *</span> :</label>
										<input name="min_order_value" id="min_order_value" type="text" class="form-control" value="<%=(result.min_order_value) ? result.min_order_value :"";%>"/>
									</div>
									<span id="min_order_value_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix fixDiscountTypeBlock d-none">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="discount_value" class="control-label"><%= __("Discount Amount"); %><span class="required">*</span> :</label>
										<input name="discount_value" id="discount_value" type="text" class="form-control" value="<%=(result.discount_value) ? result.discount_value :"";%>"/>
									</div>
									<span id="discount_value_error" class="error"></span>
								</div>
							</div>
						</div>
						<div class="row clearfix percentDiscountTypeBlock d-none">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="discount_percent" class="control-label"><%= __("Discount(%)"); %><span class="required">*</span> :</label>
										<input name="discount_percent" id="discount_percent" type="text" class="form-control" value="<%=(result.discount_percent) ? result.discount_percent :"";%>"/>
									</div>
									<span id="discount_percent_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="max_discount_amount" class="control-label"><%= __("Maximum Discount Amount"); %><span class="required">*</span> :</label>
										<input name="max_discount_amount" id="max_discount_amount" type="text" class="form-control" value="<%=(result.max_discount_amount) ? result.max_discount_amount :"";%>"/>
									</div>
									<span id="max_discount_amount_error" class="error"></span>
								</div>
							</div>
						</div>
	                    
						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="code_description" class="control-label"><%= __("Description"); %><span class="required"> *</span> :</label>
										<textarea name="code_description" id="code_description" class="form-control resize-none"><%=(result.code_description) ? result.code_description :"";%></textarea>
									</div>
									<span id="code_description_error" class="error"></span>
								</div>
							</div>
						</div>

						<div class="row clearfix">
							<br>
							<h6><%= __("Select Quantity"); %><span class="required"> </span> :</h6><br>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-check">
										<%
										var checked ="";
										if(unlimited == true){
											 checked = "checked";
										}%>
										<input class="form-check-input" type="checkbox" name="unlimited" value="" id="unlimited" <%-checked%>>
										<label class="form-check-label chk_box_lavel" for="unlimited">
											<%= __("Unlimited"); %>
										</label>
									</div>
									
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="quantity" class="control-label"><%= __("admin.product.quantity"); %></label> 
										<input name="quantity" id="quantity" type="text" class="form-control" value="<%=(result.quantity) ? result.quantity :"";%>"/>
									</div>
									<span id="quantity_error" class="error"></span>
								</div>
							</div>
						</div>

						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
								<h6><%= __("admin.promocode.select_week_days"); %><span class="required"> </span> :</h6>
								<div class="inline-checkbox-group">
									<% WEEK_DAYS_DROPDOWN.map((days)=>{
										let checked = "";
										if(isEditable){
											checked = (result.week_days && result.week_days.includes(days.key)) ? "checked" : " ";
										}
										%>
										<div class="form-check form-check-inline">
											<input class="form-check-input" <%-checked%> type="checkbox" name="week_days[]" value="<%=days.key%>" id="inlineCheckbox<%=days.key%>">
											<label class="form-check-label chk_box_lavel" for="inlineCheckbox<%=days.key%>"><%=days.value%></label>
										</div>
									<% }); %>
								</div>
								<span id="week_days_error" class="error"></span>
							</div>
							</div>
						</div>
						<div class="row clearfix">
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="start_hours" class="control-label"><%= __("admin.promo_code.start_hours"); %><span class="required"> </span> :</label>
										<select id="start_hours" name="start_hours" class="form-control show-tick" data-dropup-auto="false">
											<option value="">Select Hours</option>
											<% for (let i = 0; i < 24; i++) {
												let startHour = i.toString().padStart(2, '0');
												let selectStartHours = "";
												if(isEditable){
													selectStartHours = (result.start_hours == startHour) ? "selected" : " ";
												}
												%>
												<option value="<%=startHour%>" <%-selectStartHours%>><%=startHour%>:00</option>
											<% }; %>
										</select>
									</div>
									<span id="start_hours_error" class="error"></span>
								</div>
							</div>
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="end_hours" class="control-label"><%= __("admin.promo_code.end_hours"); %><span class="required"> </span> :</label>
										<select id="end_hours" name="end_hours" class="form-control show-tick" data-dropup-auto="false">
											<option value="">Select Hours</option>
											<% for (let j = 0; j < 24; j++) {
												let endHour = j.toString().padStart(2, '0');
												let selectEndHours = "";
												if(isEditable){
													selectEndHours = (result.end_hours == endHour) ? "selected" : " ";
												}
												%>
												<option value="<%=endHour%>" <%-selectEndHours%>><%=endHour%>:00</option>
											<% }; %>
										</select>
									</div>
									<span id="end_hours_error" class="error"></span>
								</div>
							</div>
						</div>


						<div class="row clearfix">							
							<div class="col-sm-6">
								<div class="form-group">
									<div class="form-line">
										<label for="cupon_type" class="control-label"><%= __("admin.user.coupon_type"); %><span class="required">  </span>:</label>
										<select data-live-search="true" class="form-control show-tick selectpicker search_by_status" data-dropup-auto="false" id="cupon_type" name="cupon_type">
											<option value=""><%= __("admin.user.select_cupon_type"); %></option>
											<% CUPON_TYPE_DROPDOWN.map((cupon)=>{
												let selected = "";
												if(isEditable){
													selected = (result.cupon_type == cupon.coupon_id) ? "selected" : " ";
												}
												%>
												<option value="<%= cupon.coupon_id %>" <%- selected %>><%= __(cupon.coupon_name) %></option>
											<% }); %>
										</select>
									</div>
									<span id="cupon_type_error" class="error"></span>
								</div>
							</div>
						</div>



						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
								<h6><%= __("admin.promocode.select_category"); %><span class="required"> </span> : 
									
									(<div class="form-check form-check-inline chk_box"><%= __("admin.promocode.select_all"); %> <input
										class="form-check-input select_all_category" type="checkbox" onclick="categorySelectAll(this)" style="float: right;margin-left: +.5em;"></div>)							
									
									 </h6>
								<div class="inline-checkbox-group">
									<% categories.map((category)=>{
										let checked = "";

										if(isEditable){
											checked = (result.category_id && result.category_id.some(id => id.equals(category._id))) ? "checked" : "";

									

										}
										%>
										<div class="col-sm-2 sm_2_box">
										<div class="form-check">
											<input class="form-check-input select_category" <%-checked%> type="checkbox" name="category_id[]" value="<%=category._id%>" id="inlineCheckbox<%=category._id%>">
											<label class="form-check-label chk_box_lavel" for="inlineCheckbox<%=category._id%>"><%=category.category_name%></label>
										</div>
									</div>
									<% }); %>
								</div>
								<span id="category_id_error" class="error"></span>
							</div>
							</div>
						</div>

						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
								<h6><%= __("admin.promocode.select_package"); %><span class="required"> </span> : 
									(<div class="form-check form-check-inline chk_box"><%= __("admin.promocode.select_all"); %> <input
										class="form-check-input select_all_package" type="checkbox" onclick="packageSelectAll(this)" style="float: right;margin-left: +0.5em;"></div>)</h6>
								<div class="inline-checkbox-group">
									<% packages.map((package)=>{
										let checked = "";
										if(isEditable){
											checked = (result.package_id && result.package_id.some(id => id.equals(package._id))) ? "checked" : "";											
										}
										%>
										<div class="col-sm-2 sm_2_box">
										<div class="form-check">
											<input class="form-check-input select_package" <%-checked%> type="checkbox" name="package_id[]" value="<%=package._id%>" id="inlineCheckbox<%=package._id%>">
											<label class="form-check-label chk_box_lavel" for="inlineCheckbox<%=package._id%>"><%=package.package_name%></label>
										</div>
									</div>
									<% }); %>
								</div>
								<span id="package_id_error" class="error"></span>
							</div>
							</div>
						</div>

						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
								<h6><%= __("admin.promocode.select_subscription"); %><span class="required"> </span> : 
									(<div class="form-check form-check-inline chk_box"><%= __("admin.promocode.select_all"); %> <input
										class="form-check-input select_all_subscription" type="checkbox" onclick="subscriptionSelectAll(this)" style="float: right;margin-left: +0.5em;"></div>)</h6>
								<div class="inline-checkbox-group">
									<% subscriptions.map((subscription)=>{
										let checked = "";
										if(isEditable){


											checked = (result.subscription_id && result.subscription_id.some(id => id.equals(subscription._id))) ? "checked" : "";

											
										}
										%>
										<div class="col-sm-2 sm_2_box">
										<div class="form-check">
											<input class="form-check-input select_subscription" <%-checked%> type="checkbox" name="subscription_id[]" value="<%=subscription._id%>" id="inlineCheckbox<%=subscription._id%>">
											<label class="form-check-label chk_box_lavel" for="inlineCheckbox<%=subscription._id%>"><%=subscription.subscription_name%></label>
										</div>
									</div>
									<% }); %>
								</div>
								<span id="subscription_id_error" class="error"></span>
							</div>
							</div>
						</div>


						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
								<h6><%= __("admin.promocode.select_area"); %><span class="required"> </span> : 
									(<div class="form-check form-check-inline chk_box"><%= __("admin.promocode.select_all"); %> <input
										class="form-check-input select_all_area" type="checkbox" onclick="areaSelectAll(this)" style="float: right;margin-left: +0.5em;"></div>)</h6>
								<div class="inline-checkbox-group">
									<% areas.map((area)=>{
										let checked = "";
										if(isEditable){
											checked = (result.area_id && result.area_id.some(id => id.equals(area._id))) ? "checked" : "";										
										}
										%>
										<div class="col-sm-2">
										<div class="form-check">
											<input class="form-check-input select_area" <%-checked%> type="checkbox" name="area_id[]" value="<%=area._id%>" id="inlineCheckbox<%=area._id%>">
											<label class="form-check-label chk_box_lavel" for="inlineCheckbox<%=area._id%>"><%=area.title%></label>
										</div>
									</div>
									<% }); %>
								</div>
								<span id="area_id_error" class="error"></span>
							</div>
							</div>
						</div>


						
						 
						<div class="row clearfix userTypeBlock d-none">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="search_users" class="control-label"><%= __("admin.product.search_users") %></label>
										<input type="text" placeholder="Search for users..." id="search_users" name="search_users"  class="form-control" value="<%= result.selected_user_email ? result.selected_user_email.join(","):"" %>">
									</div>
									<span id="search_users_error" class="error"></span>
								</div>
							</div>
						</div>

						
						<button type="button" id="promo-add-btn-id" <%- ADMIN_LOADING_TEXT %> class="btn bg-pink btn-sm waves-effect no_hover btn-submit"><i class="material-icons font-14">save</i> <%= __("Submit"); %></button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("Reset"); %></button></a>
						<a href="<%=admin_list_url%>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("Cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
<style>
	.inline-checkbox-group {
		display: flex;
		flex-wrap: wrap;
		gap: 10px; /* Adjust spacing between checkboxes */
		align-items: center;
	}
</style>
<%- contentFor("css") %>
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>bootstrap-datetimepicker.css">
	<link rel="stylesheet" href="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/css/bootstrap-select.css">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/themes/base/jquery-ui.min.css" integrity="sha512-ELV+xyi8IhEApPS/pSj66+Jiw+sOT1Mqkzlh8ExXihe4zfqbWkxPRi8wptXIO9g73FSlhmquFlUOuMSoXz5IRw==" crossorigin="anonymous" referrerpolicy="no-referrer" />

<%- contentFor("script") %>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>bootstrap-datetimepicker.min.js"></script>
	<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>bootstrap-select/js/bootstrap-select.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.13.2/jquery-ui.min.js" integrity="sha512-57oZ/vW8ANMjR/KQ6Be9v/+/h6bq9/l3f0Oc7vn6qMqyhvPd1cvKBRWWpzu0QoneImqr2SkmO4MSqU+RpHom3Q==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
	<script type="text/javascript">



   function categorySelectAll(source) { 
      const checkboxes = document.querySelectorAll('.select_category'); 
      checkboxes.forEach(checkbox => {
        checkbox.checked = source.checked;
      });
    }

	function packageSelectAll(source) { 
      const checkboxes = document.querySelectorAll('.select_package'); 
      checkboxes.forEach(checkbox => {
        checkbox.checked = source.checked;
      });
    }

	function subscriptionSelectAll(source) { 
      const checkboxes = document.querySelectorAll('.select_subscription'); 
      checkboxes.forEach(checkbox => {
        checkbox.checked = source.checked;
      });
    }

	function areaSelectAll(source) { 
      const checkboxes = document.querySelectorAll('.select_area'); 
      checkboxes.forEach(checkbox => {
        checkbox.checked = source.checked;
      });
    }

	


		$(document).ready(function(){
			let defaultTimeZone = DEFAULT_TIME_ZONE;
    		let today = moment().tz(defaultTimeZone).format("YYYY-MM-DD");

			if("<%= isEditable %>" == "true"){
				let discountCodeType = "<%=result.code_discount_type%>";
				let selectDiscount = {
					value : discountCodeType
				};
				showDiscountTypeBlock(selectDiscount);
				let codeType = "<%=result.code_type%>";
				if(codeType == "<%= COUPON_TYPE_USER_SPECIFIC%>"){
					let selectType = {
						value : codeType
					};
					showUserTypeBlock(selectType)
				}
			}

			if("<%= unlimited %>" == "true"){
				$('#quantity').closest('.form-group').hide();
			}

			$('#unlimited').on('change', function() {
				if ($(this).is(':checked')) {
					$("#unlimited").val(true);
					$('#quantity').closest('.form-group').hide(); // Hide the quantity input field
				} else {
					$('#quantity').closest('.form-group').show(); // Show the quantity input field
					$("#unlimited").val(false);
				}
			});
			
			/**
			 * Javascript function to submit the form.
			 */
			$(".btn-submit").click(function(){
				var btnId = $(this).attr("id");
				startTextLoading(btnId);
				ajax_submit("add-promo-code",function(status,response){
					if(status){
						window.location.href = response.redirect_url;
					}else{
						stopTextLoading(btnId);
					}
				});
			});

			/**
			 * Javascript function to change the label.
			 */
			showSelectedLabel();
			$("#discount_type").on("change", function(){
				$("#discount_value").val("");
				showSelectedLabel();
			});

			/**
			 * Javascript function to show and hide the validity type fields.
			 */
			showValidityTypeFields();
			$(".validity_type_radio").on("change", function(){
				showValidityTypeFields();
			});

			$("#code_valid_from").click(function() {
				let validTo = $("#code_valid_to").val();
				if (validTo) {
					let validToDate = moment(validTo, "YYYY-MM-DD");
					$("#code_valid_from").data("DateTimePicker").maxDate(validToDate);
				}
			});

			// Handle clicks on "Valid To"
			$("#code_valid_to").click(function() {
				let validFrom = $("#code_valid_from").val();
				if (validFrom) {
					let validFromDate = moment(validFrom, "YYYY-MM-DD");
					$("#code_valid_to").data("DateTimePicker").minDate(validFromDate);
				}
			});

			// Initialize the "Valid From" datepicker
			$("#code_valid_from").datetimepicker({
				format: "YYYY-MM-DD",
				minDate: today,
				date: today,
				ignoreReadonly: true
			}).on("dp.change", function(e) {
				let selectedDate = e.date;
				$("#code_valid_to").data("DateTimePicker").minDate(selectedDate);
			});


			// Initialize the "Valid To" datepicker
			$("#code_valid_to").datetimepicker({
				format: "YYYY-MM-DD",
				minDate: today,
				ignoreReadonly: true,
				useCurrent: false
			});


			// /**
			//  * Javascript function to initialize valid from date
			//  */
            // $("#code_valid_from").datetimepicker({
            // 	format			: "YYYY-MM-DD",
            // 	minDate			: moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD"),
            // 	date			: moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD"),
            // 	ignoreReadonly	: true,
            // }).on("dp.change", function(e){
            // 	$("#code_valid_to").data("DateTimePicker").minDate(e.date);
            // });

			// /**
            //  * Javascript function to initialize datepicker for valid to date.
            //  */
            // var dateNow	= moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD");
            // $("#code_valid_to").datetimepicker({
            // 	format			: "YYYY-MM-DD",
            // 	minDate			: moment().tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD"),
            // 	date			: moment(dateNow).hours(23).minutes(59).seconds(59).milliseconds(0),
            // 	ignoreReadonly	: true,
            // 	useCurrent		: false
            // });

            /**
			 * Set valid to and valid from value
			 */

			var validFromDate	= 	"";
			var validToDate		= 	"";

			<% if(validFrom){ %>
				validFromDate =	moment("<%=validFrom%>").tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD");
			<% } %>
			<% if(validTo){ %>
				validToDate =	moment("<%=validTo%>").tz(DEFAULT_TIME_ZONE).format("YYYY-MM-DD");
			<% } %>

			$("#code_valid_to").val(validToDate);
			$("#code_valid_from").val(validFromDate);

        });

		/**
		 * function called to get random string 
		**/
		function getRandomString(){
			$.ajax({
				"type"		: "POST",
				url			:  "<%=WEBSITE_ADMIN_URL%>promo_codes/get_random_string",
				"data"		: {  },
				"success"	: function (response) {
					let randomString = response.result;
					$("#promo_code").val(randomString)
				}
			});
		}

		function showDiscountTypeBlock(select){
			let selectedValue = select.value;
			if(selectedValue == "<%= COUPON_DISCOUNT_TYPE_PERCENT %>"){
				$(".fixDiscountTypeBlock").addClass("d-none");
				$(".percentDiscountTypeBlock").removeClass("d-none");
			}else if(selectedValue == "<%= COUPON_DISCOUNT_TYPE_FIX %>"){
				$(".fixDiscountTypeBlock").removeClass("d-none");
				$(".percentDiscountTypeBlock").addClass("d-none");
			}else{
				$(".fixDiscountTypeBlock").addClass("d-none");
				$(".percentDiscountTypeBlock").addClass("d-none");
			}
		}

		function showUserTypeBlock(select){
			let selectedValue = select.value;
			if(selectedValue == "<%= COUPON_TYPE_USER_SPECIFIC %>"){
				$(".userTypeBlock").removeClass("d-none");
			}else{
				$(".userTypeBlock").addClass("d-none");
			}
		}

		$("#search_users").autocomplete({
			search: function() {
				// custom minLength
				var term = extractLast( this.value );
				if ( term.length < 2 ) {
					return false;
				}
			},
			source : (req,res)=>{
				$.ajax({
					url: admin_list_url+"/get_user_list/"+extractLast( req.term ),
					type: "POST",
					contentType : "json",
					data: {
						term: extractLast( req.term )
					},
					success: function( data ) {
						res( data.result );
					}
				})
			},
			minLength: 1,
			focus: function( event, ui ) {
				// $( "#search_users" ).val( ui.item.full_name );
				return false;
			},
			select: function( event, ui ) {
				var terms = split( this.value );
				// remove the current input
				terms.pop();
				// add the selected item
				terms.push( ui.item.full_name+"-"+ui.item.email );
				// add placeholder to get the comma-and-space at the end
				terms.push("");
				this.value = terms.join( ", " );
				return false;
			}
		}).autocomplete( "instance" )._renderItem = function( ul, item ) {
			return $( "<li>" )
				.append( "<div>" +  item.full_name +"("+item.email+")" +"</div>" )
				.appendTo( ul );
		};

		function split( val ) {
			return val.split( /,\s*/ );
		}
		function extractLast( term ) {
			return split( term ).pop();
		}

		/**
		 * Javascript function to change discount label
		 */
		function showSelectedLabel(){
			var label = $("#discount_type").find(":selected").text();
			$(".changeLabel").html(label);
		}// end showSelectedLabel()

		/**
		 * Javascript function to show and hide the validity type fields
		 */
		function showValidityTypeFields(){
			var value = $('input[name="validity_type"]:checked').val();

			if(value == "<%=PROMO_CUSTOM_VALIDITY_TYPE%>"){
				$(".validity_type_fields").show();
			}else{
				$(".validity_type_fields").find("input").val("");
				$(".validity_type_fields").hide();
			}
		}// end showValidityTypeFields()
 
	</script>