<div class="container-fluid" id="main-container">
	<div class="row clearfix" >
		<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
			<div class="card">
				<div class="header">
					<h2>
						<%= __("admin.block.edit_block"); %>
					</h2>
					<ul class="header-dropdown m-r--5 btn-right-top-margin">
						<li>
							<a href="<%=admin_list_url%>" ><button type="button" class="btn bg-indigo waves-effect"><i class="material-icons font-14">keyboard_backspace</i> <%= __("admin.system.back"); %></button></a>
						</li>
					</ul>
				</div>
				<div class="body">
					<!-- Multilanguage tabs -->
						<%- include ('../../elements/multilanguage_tabs.html') %>
					<!-- Multilanguage tabs -->
					<form id="edit-block" data-submit-btn-id="block-edit-btn-id" method="post" class="on_click_submit" role="form">
						<!-- Tab panes -->
						<div class="tab-content mt-20">
							<%
							if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 0){
								pageName = (result && result.page_name && result.page_name!="") ? result.page_name : ""; %>
								<div class="row clearfix">
									<div class="col-sm-12">
										<div class="form-group">
											<div class="form-line">
												<label for="page_name" class="control-label">
													<%= __("admin.block.page_name"); %>
													<span class="required"> * </span>:

												</label>
												<% if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 1){ %>
													<span class="float-right">
														<b><%= __("admin.system.these_fields_are_same_in_all_languages"); %></b>
													</span>
												<% } %>
												<input type="text" id="page_name" class="form-control" name="page_name" value="<%= pageName %>"/>
											</div>
											<span id="page_name_error" class="error"></span>
										</div>
									</div>
								</div>
								<%
								if(typeof language_list !== typeof undefined && Array.isArray(language_list) && language_list.length > 1){ %>
									<div class="row clearfix seperator-line field-seperator"><hr/></div>
								<%
								}
								language_list.forEach(function(languages){
									languageId 		= 	(languages._id) 		?	languages._id 		:"";
									languageCode 	= 	(languages.lang_code)	?  	languages.lang_code	:"";
									blockName 		= 	(result.blocks_descriptions && result.blocks_descriptions[languageCode] && result.blocks_descriptions[languageCode]['block_name']) 	?	result.blocks_descriptions[languageCode]['block_name'] 	:"";
									description 	=	(result.blocks_descriptions && result.blocks_descriptions[languageCode] && result.blocks_descriptions[languageCode]['description'])	? 	result.blocks_descriptions[languageCode]['description']	:"";
									%>
									<div role="tabpanel" class="tab-pane multi-lang-tab-pane fade_lang in <%= (languageCode == DEFAULT_LANGUAGE_CODE) ? "active" : ""; %>" id="multi_lang_<%= languageCode; %>">
										<div class="row clearfix">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="form-line">
														<label for="block_name_<%= languageCode; %>" class="control-label">
															<%= __("admin.block.block_name"); %>
															<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
																<span class="required"> * </span>:
															<% } %>
														</label>
														<input type="hidden" name="blocks_descriptions[<%= languageCode %>][language_id]" value="<%= languageId; %>"/>
														<input type="text" id="block_name_<%= languageCode; %>" class="form-control" name="blocks_descriptions[<%= languageCode %>][block_name]" value="<%= blockName; %>"/>
													</div>
													<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
															<span id="blocks_descriptions_<%=languageCode %>_block_name_error" class="error"></span>
														<% } %>
												</div>
											</div>
										</div>
										<div class="row clearfix">
											<div class="col-sm-12">
												<div class="form-group">
													<div class="form-line">
														<label for="description_<%= languageCode; %>" class="control-label">
															<%= __("admin.block.block_description"); %>
															<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
																<span class="required"> * </span>:
															<% } %>
														</label>
														<textarea rows="4"  id="description_<%= languageCode; %>" class="form-control no-resize ckeditor"  name="blocks_descriptions[<%= languageCode %>][description]"><%= description; %></textarea>
													</div>
													<% if(languageCode ==  DEFAULT_LANGUAGE_CODE){ %>
														<span id="blocks_descriptions_<%=languageCode %>_description_error" class="error"></span>
													<% } %>
												</div>
											</div>
										</div>
									</div>
							<% 	});
							} %>
						</div>
						<button type="button" id="block-edit-btn-id" class="btn bg-pink btn-sm waves-effect btn-submit" <%- ADMIN_LOADING_TEXT %> ><i class="material-icons font-14">save</i> <%= __("admin.system.submit"); %></button>
						<a href="javascript:location.reload(true);" class="text-decoration-none"><button type="button" class="btn bg-blue-grey btn-sm waves-effect"><i class="material-icons font-14">refresh</i> <%= __("admin.system.reset"); %></button></a>
						<a href="<%= admin_list_url %>"><button type="button" class="btn bg-brown btn-sm waves-effect"><i class="material-icons font-14">cancel</i><%= __("admin.system.cancel"); %></button></a>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

<%- contentFor("script") %>
	<script src="<%=WEBSITE_ADMIN_JS_PLUGIN_PATH%>ckeditor/ckeditor.js" type="text/javascript"></script>
	<script type="text/javascript">

		/**
		 * Function to submit form
		 */
		$('.btn-submit').click(function(){
			updateCkeditorValue();
			var btnId = $(this).attr('id');
			startTextLoading(btnId);
			ajax_submit('edit-block',function(status,response){
				if(status){
					window.location.href = response.redirect_url;
				}else{
					changeTab('<%= DEFAULT_LANGUAGE_CODE %>');
					stopTextLoading(btnId);
				}
			});
		});
	</script>
