<%
	let userId		=	(typeof user_id !== typeof undefined) ?  user_id : "";
	let formUrl 	=	admin_list_url +'/view/update_date_time/' + order_id;
	let existingTime = convertTimestampOrDurationData(result.booking_start_timestamp + result.booking_travelling_timestamp);


	let bookingDate = result.booking_date;
	let bookingTime = result.booking_time;

 

	let dateList = [];
  	for (let i = 0; i < 7; i++) {
		const date = new Date();
		date.setDate(date.getDate() + i);
		const formatted = date.toISOString().split('T')[0]; // YYYY-MM-DD
		dateList.push(formatted);
  	}

%>
<div class="row clearfix">
	<div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
		<form id="add-point" action="<%=formUrl%>" data-submit-btn-id="add-point-btn-id" method="post" class="on_click_submit" role="form">
			<div class="modal-dialog  modal-md" role="document">
				<div class="modal-content">
					<div class="modal-header modal-header-seperator p-l-20 p-b-0">
						<h2 class="modal-title">
							<%= __("admin.order.change_booking_date_time"); %>
						</h2>
					</div>
					<div class="modal-body padding-20">
						 
						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="booking_date_time" class="control-label">
											<%= __("admin.order.booking_date_time"); %> <span class="required"> *</span>
										</label>
										<select class="form-control form-select show-tick" id="booking_date_time" name="booking_date_time" onchange="getTimeSlotList(this)">
											<option value=""><%=__("admin.order.select_date");%></option>
											<% dateList.forEach(function(date) { %>
												<option value="<%= date %>" <%= (date === bookingDate) ? 'selected' : '' %>><%= date %></option>
											<% }); %>
										</select>
									</div>
									<span id="booking_date_time_error" class="error"></span>
								</div>
							</div>
						</div>

						<div class="row clearfix">
							<div class="col-sm-12">
								<div class="form-group">
									<div class="form-line">
										<label for="booking_time" class="control-label">
											<%= __("admin.order.booking_time"); %> <span class="required"> *</span>
										</label>
										<select class="form-control form-select show-tick" id="booking_time" name="booking_time">
											<option value=""><%=__("admin.order.select_time");%></option>
											<% timeSlotList.forEach(function(slot) { %>
											
											<option value="<%= slot.value %>" 
												<%= (slot.value === bookingTime) ? 'selected' : '' %> 
												<%= !slot.time_slot_available ? 'disabled' : '' %>>
										  	<%= slot.value %><%= !slot.time_slot_available ? ' (Unavailable)' : '' %>
											</option>

										<% }); %>
										</select>
									</div>
									<span id="booking_time_error" class="error"></span>
								</div>
							</div>
						</div>
						
						 
					</div>
					<div class="modal-footer modal-footer-seperator justify-content-end">
						<button type="button" id="add-point-btn-id" class="btn btn-success btn-sm waves-effect col-white btn-submit" <%- ADMIN_LOADING_TEXT %> >
							<%= __("admin.system.submit"); %>
						</button>
						<button type="button" class="btn btn-sm waves-effect bg-brown" data-bs-dismiss="modal" aria-hidden="true">
							<%= __("admin.system.cancel"); %>
						</button>
					</div>
				</div>
			</div>
		</form>
	</div>
</div>

 
<script src="<%=WEBSITE_ADMIN_JS_PATH%>admin.js" type="text/javascript"></script>

<link rel="stylesheet" href="<%=WEBSITE_ADMIN_CSS_PATH%>bootstrap-datetimepicker.css">
<script type="text/javascript" src="<%=WEBSITE_ADMIN_JS_PATH%>bootstrap-datetimepicker.min.js"></script>

<script type="text/javascript">
	$('.btn-submit').click(function(){
		var btnId = $(this).attr('id');
		startTextLoadingInPopUP(btnId);
		ajax_submit('add-point',function(status,response){
			if(status){
				stopTextLoadingInPopUP(btnId);
				functionHideModel()
				$("#overlay1").show();
				setTimeout(function(){
					$("#overlay1").hide();
					if(typeof dataTable !== typeof undefined) dataTable.ajax.reload(null, false);
					if(response.status && response.message) notice(response.status,response.message);
				},1000);
				window.location.reload();
			}else{
				// notice(response.status,response.message);
				stopTextLoadingInPopUP(btnId);
			}
		});
	});

 
	function getTimeSlotList(selectObject){
		var value = selectObject.value;
		var orderid = "<%= order_id %>";
		if(value){
			$.ajax({
				'type'		: 	'POST',
				url 		:	"<%= TIME_URL %>/get-time-slot-list",
				'data'		: 	{'booking_date': value, 'order_id': orderid},
				'success': function (response){
					var result = (typeof response.result !== 'undefined' && response.result) ? response.result : [];
					var option = '<option value=""><%= __("admin.order.select_time"); %></option>';

					if (result.length > 0) {
						result.forEach(function(slot) {
							option += '<option value="' + slot.value + '"' + 
									(slot.time_slot_available ? '' : ' disabled') + '>' +
									slot.value + 
									(slot.time_slot_available ? '' : ' (Unavailable)') +
									'</option>';
						});
					}
					$('#booking_time').html(option);
					$('#booking_time').selectpicker('destroy');
					$('#booking_time').selectpicker();
				}
			});
		}else{
			var option = '<option value=""><%= __("admin.order.select_time"); %></option>';
			$('#booking_time').html(option);
			$('#booking_time').selectpicker('destroy');
			$('#booking_time').selectpicker();
		}
	}
 
	// Initialize the "Valid To" datepicker
	var today = moment(); // Ensure 'today' is defined properly

    $("#booking_date_time").datetimepicker({
        format: "YYYY-MM-DD HH:mm",
        minDate: today,
        ignoreReadonly: true,
        useCurrent: false,
        sideBySide: true // Ensures date and time picker show together
    }).on("dp.show", function (e) {
        $(".bootstrap-datetimepicker-widget").css("z-index", "99999"); // Ensure visibility above modal

		// console.log($(".bootstrap-datetimepicker-widget .btn[data-action='incrementHours'] a"))
		$(".bootstrap-datetimepicker-widget .btn[data-action='incrementHours']").html('<i class="material-icons font-14">keyboard_arrow_up</i> ');
		// $(".bootstrap-datetimepicker-widget .btn[data-action='incrementHours']").html("Hour Up");
		$(".bootstrap-datetimepicker-widget .btn[data-action='decrementHours']").html('<i class="material-icons font-14">keyboard_arrow_down</i> ');
		$(".bootstrap-datetimepicker-widget .btn[data-action='incrementMinutes']").html('<i class="material-icons font-14">keyboard_arrow_up</i> ');
		$(".bootstrap-datetimepicker-widget .btn[data-action='decrementMinutes']").html('<i class="material-icons font-14">keyboard_arrow_down</i> ');
		// .css({
		// 	"color": "#fff",                // White icons
		// });
		
    });

	// Set the date after initialization
    var existingTime = "<%= existingTime %>"; 
	var formattedDate = moment(existingTime, "DD/MM/YYYY hh:mm a").format("YYYY-MM-DD HH:mm");
    if (formattedDate && moment(formattedDate, "YYYY-MM-DD HH:mm", true).isValid()) {
        $("#booking_date_time").datetimepicker("date", moment(formattedDate, "YYYY-MM-DD HH:mm"));
    }
	
</script>
